<h1 class="text-center" id="artiste">{{ artist_name }}</h1>

<br>

<div class="row border bg-light" id="similar" v-cloak v-show="similar_artists.length > 0">
    <h3 class="col-12 text-center" >Artistes similaires</h3>
	
    <div class="col-4 col-lg-2 d-none regular-gutter d-sm-block" v-for="artist in similar_artists" v-cloak>
	<a :alt="artist.name" target="_blank" :href="artist.url">
	    <figure class="figure m-1">
		<img :title="artist.name" class="figure-img responsive" :src="artist.image" :alt="artist.name">
		<figcaption class="figure-caption">[[ artist.name ]]</figcaption>
	    </figure>
	</a>
    </div>

    <div class="col-12 d-block d-sm-none">
	<p class="text-center">
	    <template v-for="(artist, index) in similar_artists">
		<a  :alt="artist.name" target="_blank" :href="artist.url"> [[ artist.name ]]</a> <span v-if="index != similar_artists.length-1">,</span>
	    </template>
	</p>
    </div>
    

</div>

<br>

<form class="form-inline" method="get" action="{{path}}">

    <input type="text" class="form-control mt-1" name="nom" placeholder="Filtrer par nom exact..." value="{{search}}">

    <input type="hidden" name="page" value="1">

    <button type="submit" class="btn color-sanguine mt-1 ml-1">Filtrer</button>
    
</form>

<br>

{% include 'albums/artist_pagination.html' with page=page page_list=page_list %}

{% for table in albums %}

<h2>{{ table.0 }}</h2>
<table class="table" id="artist_ratings">
    <tr class="row">
	<th class="col-4 col-sm-1">Année</th>
	<th class="col-8 col-sm-7 col-md-6">Titre</th>
	<th class="col-8 offset-4 col-sm-4 col-md-5 offset-sm-0">Notes</th>
    </tr>
    {% for r in table.1 %}
    <tr class="row">
	<td class="col-4 col-sm-1"> {{ r.year }}</td>
	<td class="col-8 col-sm-7 col-md-6"> <a href="{% url 'albums:album' r.mbid %}">{{ r.title }}</a>
	    {% if r.feat %}
	    ( avec 
	    {% for collab in r.feat %}
	    {% if not forloop.first %}, {% endif %}
	    <a href="{% url 'albums:artist' collab.mbid %}">{{ collab.name }}</a>
	    {% endfor %})
	    {% endif %}
	</td>
	<td class="col-8 offset-4 col-sm-4 col-md-5 offset-sm-0 rating_area" id="ID{{r.mbid}}" {% if user.is_authenticated %}v-cloak{% endif %}>
	    {% if user.is_authenticated %}<star-rating :inline="true" :show-rating="false" :max-rating='10' :star-size='15' v-model='rating'></star-rating>
	    <div class="ml-xl-3 d-block d-xl-inline">
		<span title="Ma note" class="w3-tag const-span rounded user-rating">[[ scoreOrZero(rating) ]]</span> <span title="Note de mes abonnements" class="w3-tag const-span rounded follow-rating">...</span>{% endif %} <span title="Note moyenne" class="w3-tag const-span rounded avg-rating">...</span> {% if user.is_authenticated %}</div>{% endif %}
	</td>
    </tr> 
    {% endfor %}
</table>

{% endfor %}
