{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
Tous les genres
{% endblock %}

{% block meta_description %}
Liste de tous les genres référencés sur La Musithèque.
{% endblock %}

{% block body_title %}

<div class="jumbotron jumbotron-fluid" style="background-image : url({% static 'images/genres-bg.jpg' %}); background-position: 50% 70%; background-size : cover;">
    <div class="container">
	<h1 class="text-center display-4" style="color:white">Tous les genres</h1>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-6 offset-md-3 bg-light">

    <p class="text-center"><a href="{% url 'albums:submit_genre' %}">Ajouter un genre</a></p>

    <div class="row">
	<div class="mx-auto">
	    <ul class="treeview-ul" id="genres">
		<item v-for="tree in treeData.tree"
		    class="treeview-item"
		    :model="tree">
		</item>
	    </ul>
	</div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}

<script> 

 var tree_data = JSON.parse("{{tree|escapejs}}");

 Vue.component('item' , {
     delimiters : ['[[', ']]'],
     template: `
	 <li>
	     <div :class="{bold: isFolder}" @click="toggle" @dblclick="changeType">
		 <a @click.stop :href="model.url">[[ model.name ]]</a>
		 <span v-if="isFolder">[ [[ open ? '-' : '+' ]] ]</span>
	     </div>
		     <ul class="treeview-ul" v-show="open" v-if="isFolder">
			 <item class="item" v-for="(model, index) in model.children" :key="index" :model="model">
			 </item>
		     </ul>
	 </li>
     `,
     props: {
	 model: Object
     },
     data: function () {
	 return {
	     open: false
	 }
     },
     computed: {
	 isFolder: function () {
	     return this.model.children &&
		    this.model.children.length
	 }
     },
     methods: {
	 toggle: function () {
	     if (this.isFolder) {
		 this.open = !this.open
	     }
	 },
	 changeType: function () {
	     if (!this.isFolder) {
		 Vue.set(this.model, 'children', [])
		 this.addChild()
		 this.open = true
	     }
	 },
	 addChild: function () {
	     this.model.children.push({
		 name: 'new stuff'
	     })
	 }
     }
 })
 
 var demo = new Vue({
     el: '#genres',
     delimiters : ['[[', ']]'],
     data: {
	 treeData: tree_data
     }
 })
 
</script>

{% endblock %}
