<h4><strong>Liste des morceaux</strong></h4>

{% for cd in album.tracks.track_list %}
<table class="table table-sm border bg-light">

 
    <thead>
	<tr>
	    CD {{forloop.counter }}    {% if cd.medium_title %} : {{ cd.medium_title }}  {% endif %}
	</tr>
    </thead>
    
    <tbody>
	{% for track in cd.tracks %}

	<tr>

	    <th scope="row">{{forloop.counter}}</th>
	    <td>{{ track.title }} {% if track.duration != '?:??' %}<small>({{ track.duration }})</small>{% endif %}</td>
	    
	</tr>
	
	{% endfor %}
    </tbody>

</table>
{% endfor %}
