{% extends 'base.html' %}

{% block title %}
Confirmez votre adresse e-mail
{% endblock %}

{% block body_title %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
	<h1 class="text-center display-4">Confimez votre adresse e-mail</h1>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-6 offset-md-3 bg-light">
    <p>Un mail de confirmation vous a été envoyé à l'adresse indiquée. Veuillez cliquer sur son lien pour activer votre compte.</p>
    <p>L'envoi de ce mail peut prendre quelques minutes. Pensez également à vérifier votre dossier spam.</p>
    <p>Vous n'avez rien reçu ? <a href="{% url 'resend_email' user.username %}">Renvoyer le mail</a></p>
</div>
{% endblock %}
