{% extends 'account/profile_base.html' %}

{% load staticfiles %}

{% load bootstrap_tags %}

{% block title %} 
Modifier votre profil
{% endblock %}

{% block profile_sidebar %}

	{% include 'account/profile_sidebar.html' with profile=user.account %}
{% endblock %}

{% block profile_content %}
<h2>Modifier votre profil</h2>

{% if success == True %}
<font color="green">Vos modifications ont été enregistrées</font>
{% elif success == False %}
<font color="red"> Un ou plusieurs champs sont erronés</font>
{% endif %}

<form id="edit_profile_form" enctype="multipart/form-data" action="{% url 'edit_profile' %}" method="post">
    
    {% csrf_token %}

    {{ user_form|as_bootstrap }}

    {{ account_form|as_bootstrap }}

    {% if user.account.avatar %}
    <img id="preview" src="{{ user.account.avatar.url }}" width="150px" />
    {% else %}
    <img id="preview" src="" width="150px" />
    {% endif %}
    <font id="avatar_error" color="red"></font>

    <br><br>
    
    <input id="profile_submit" class="form-control" type="submit" value="Valider les modifications" />

</form>
{% endblock %}


{% block scripts %}

<script>

 var err = false;
 var av_err = document.getElementById('avatar_error')
 
 document.getElementById("{{account_form.avatar.auto_id}}").onchange = function () {

     var size = document.getElementById("{{account_form.avatar.auto_id}}").files[0].size

     if (size > 2 * 1024 * 1024){
	 av_err.innerText = "Cette image est trop grosse. Les images doivent être au format JPG ou PNG et ne doivent pas dépasser 2Mo"
	 document.getElementById("preview").src = "";
	 err = true;										
     }

     else {
	 av_err.innerText = ""
	 var reader = new FileReader();
	 
	 reader.onload = function (e) {	     
	     // get loaded data and render thumbnail.
	     document.getElementById("preview").src = e.target.result;
	 };

	 // read the image file as a data URL.
	 reader.readAsDataURL(this.files[0]);
	 err = false;
     }
 };

 const form = document.getElementById('edit_profile_form')

 form.addEventListener('submit', event => {
     if (err){
	 event.preventDefault();
     }
 }
 )
 
</script>

{% endblock %}

