{% extends 'account/profile_base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %} 
Paramètres du compte
{% endblock %}

{% block profile_sidebar %}
    {% include 'account/profile_sidebar.html' with profile=user.account %}
{% endblock %}

{% block profile_content %}

<h2>Paramètres du compte</h2>

Email : {{ user.email }}


<h3>Modifier le mot de passe</h3>

{% if password_success %}
<font color="green">Votre mot de passe a été modifié avec succès</font>
{% elif password_success == False %}
<font color="red">Erreur lors du remplissage des champs</font>
{% endif %}

<form action="{% url 'edit_settings' %}" method="post">
    
    {% csrf_token %}

    {{ password_form|as_bootstrap }}
    
    <input class="form-control" type="submit" name="change_password" value="Modifier mon mot de passe" />
</form>

<br>

<h3>Supprimer mon compte</h3>

<a href="{% url 'delete_account' %}">Vers la page de suppression</a>

{% endblock %}

