<h2 class="text-center">Vous nous manquez, {{ user }} !</h2>

<p class="text-center">Votre compte sur La Musithèque est inactif depuis plus de 30 jours. Que diriez vous de retourner y faire un tour ? De nouvelles fonctionnalités apparaissent chaque semaine, et la communauté s'aggrandit de jour en jour. Peut être encore plus grâce à vous ?</p>

<p class="text-center">Vous pouvez dès maintenant <a href="https://lamusitheque.com{% url 'discussions:search_discussion_for_object' %}">discuter</a> avec les autres membres, <a href="https://lamusitheque.com{{ user.get_absolute_url }}">remplir votre profil</a>, noter et critiquer des albums et plein d'autres choses encore !</p>

<p class="text-center">En espérant vous revoir très vite !</p>
<p class="text-center">L'équipe <a href="https://lamusitheque.com">La Musithèque</a>.</p>
