{% load staticfiles %}

<div class="card">
    <img class="card-img-top" src="{{ profile.get_avatar }}" alt="Avatar">
    <div class="card-body">
	<h5 class="card-title"><a href="{% url 'profile' profile.user.username %}" >{{ profile.user.username }}</a> {% if is_followed is True %}<span class="label label-success">Vous suit</span>{% endif %}</h5>
    </div>
    <ul class="list-group list-group-flush">
	{% if profile.user.first_name and profile.user.last_name and profile.display_name %}
	<li class="list-group-item">
	    {{ profile.user.first_name }} {{ profile.user.last_name }}
	</li>
	{% endif %}
	{% if profile.sex != 'N' and profile.display_sex %}
	<li class="list-group-item">
	    {{ profile.get_sex_display }}
	</li>
	{% endif %}
	{% if profile.birth is not None and profile.display_birth %}
	<li class="list-group-item">
	    {{ profile.get_age }} ans
	</li>
	{% endif %}
    </ul>
    {% if user.is_authenticated %}
    <div class="card-body">
	{% if user.is_authenticated and user.username == profile.user.username %}
	<a class="btn btn-light" href="{% url 'edit_profile' %}">
	    <i class="fa fa-user text-left"></i> Profil</a>
	
	<a class="btn btn-light" href="{% url 'edit_settings' %}">
	    <i class="fas fa-cog"></i> Paramètres</a>
	{% endif %}
	{% if user.is_authenticated and user.username != profile.user.username %}
	<togglefollow :followed="{% if follows is True %}true{% else %}false{% endif %}" user_to_follow="{{ profile.user.username }}" url="{% url 'ajax_follower:ajax_follow' %}"></togglefollow>
	<a class="btn btn-light" href="{% url 'postman:write' profile.user.username %}">Message</a>
	{% endif %}
    </div>
    {% endif %}
</div>
