{% extends "base.html" %}
{% block title %}
Inscription terminée
{% endblock %}

{% block body_title %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
	<h1 class="text-center display-4">Votre inscription est terminée !</h1>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-6 offset-md-3">

    <p>Vous pouvez dès à présent vous connecter et remplir votre profil.</p>
    <p><a href="{% url 'login' %}?next={% url 'edit_profile' %}" class="btn big fit">Se connecter</a></p>

</div>

{% endblock %}
