{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %} 
Inscription
{% endblock %}

{% block content %}

<div class="col-md-12 col-lg-6 offset-lg-3">
    <h1 class="text-center">Inscrivez-vous</h1>

    {% if error == True %}
    <div class="alert alert-danger">
	Un ou plusieurs champs sont incorrects.
    </div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
	{% csrf_token %}
	{{form|as_bootstrap}}
	<input class="form-control" type="submit" value="Valider" />
	
    </form>
</div>

{% endblock %}
