{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}

Résultats de votre recherche

{% endblock %}

{% block search_value %}

{{ query }}

{% endblock %}

{% block account_search_selected %}
selected
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-8 offset-md-2">

    <h1>Résultats de la recherche : {{ query }}</h1>
    
    {% if accounts|length_is:"0" %}
    <div class="text-center">
	Aucun résultat n'a été trouvé
    </div>

    {% else %}

    

    {% if paginate %}
    <nav aria-label="...">
	<ul class="pagination">
	    {% if accounts.has_previous %}
            <li class="page-item"><a class="page-link sanguine" href="{{request.path}}?query={{query}}&type={{m_type}}&page={{accounts.previous_page_number}}">Précédent</a></li>
	    {% else %}
	    <li class="page-item disabled"><span class="page-link sanguine">Précédent</span></li>
	    {% endif %}
	    {% if accounts.has_next %}
            <li class="page-item"><a class="page-link sanguine" href="{{request.path}}?query={{query}}&type={{m_type}}&page={{accounts.next_page_number}}">Suivant</a></li>
	    {% else %}
	    <li class="page-item disabled"><span class="page-link sanguine">Suivant</span></li>
	    {% endif %}
	</ul>
    </nav>
    {% endif %}

    <br>

    <div class="row" id="user_list">

	{% for user_ in follows %}

	<contact user="{{ user_.0.username }}" profile_url="{% url 'profile' user_.0.username %}" avatar="{{ user_.0.account.get_avatar }}" :follows="{% if user_.1 == True %}true{% elif user_.1 == False %}false{% else %}null{% endif %}" url_follow="{% url 'ajax_follower:ajax_follow' %}" :is_self="{% if user_.0 == user %}true{% else %}false{% endif %}"></contact>
	
	{% endfor %}
	
	
    </div>
    
    <br>

    {% endif %}

</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/circle_thumbnail.js' %}"></script>
<script src="{% static 'ajax_follower/js/toggleFollowButton.js' %}"></script>
<script src="{% static 'ajax_follower/js/contacts.js' %}"></script>

<script>

 var vm = new Vue({
     delimiters : ['[[', ']]'],
     el : '#user_list',
     components : {
	 'contact' : contactPreview,
     },
     
 })

</script>

{% endblock %}
