{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %}Connexion{% endblock %}
{% block content %}

<div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-2 offset-xl-5">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Connectez vous</h3>
        </div>
        <div class="panel-body">
            <form class="text-center" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                {% if form.errors %}
                <p>Pseudo ou mot de passe incorrect</p>
                {% endif %}

                {{ form|as_bootstrap }}

                <input class="form-control" type="submit" value="Connexion"/>
                <input type="hidden" name="next" value="{{ next }}"/>

                <a href="{% url 'reset_password' %}">Mot de passe oublié ?</a>
                <br>
                Pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
