{% extends "django_comments_xtd/base.html" %}
{% load l10n %}
{% load i18n %}
{% load comments_xtd %}

{% block title %}Supprimer un commentaire{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
    <h4 class="text-center">Supprimer ce commentaire ?</h4>
    <p>En tant que modérateur vous pouvez supprimer des commentaires. Supprimer un commentaire ne le fait pas disparaitre du site, mais cache simplement le texte aux utilisateurs.</p>
    <div class="well well-lg">
      <div class="media">
          <div class="media-left">
	      <a href="{% url 'profile' comment.user_name %}" target="_blank">
		  <div style="width:50px; height:50px; background-image: url({{ comment.user.account.get_avatar }}); background-size:cover; background-position : center;">
		  </div>
	      </a>
        </div>
        <div class="media-body">
            <h6 class="media-heading">
		{{ comment.submit_date|localize }}&nbsp;-&nbsp;
		<a href="{% url 'profile' comment.user.username %}" target="_new">{{ comment.user_name }}</a>
          </h6>
          <p>{{ comment.comment }}</p>
        </div>
      </div>
    </div>
    <div class="visible-lg-block visible-md-block">
      <hr/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
    <form action="." method="post" class="form-horizontal">{% csrf_token %}
      <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
      <div class="form-group">
        <div class="text-center">
          <input type="submit" name="submit" class="btn btn-danger" value="Supprimer"/>
          <a class="btn btn-default" href="{{ comment.get_absolute_url }}">Annuler</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
