{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 border">
    
    {% if query == 'abonnements' %}
    <h1>Dernières critiques de vos abonnements</h1>
    {% else %}
    <h1>Dernières critiques</h1>
    {% endif %}

    {% if user.is_authenticated %}<p><a href="{{request.path}}?filtre=tout">Toutes les critiques</a> - <a href="{{request.path}}?filtre=abonnements">Mes abonnements</a></p>{% endif %}

    
    {% include 'ratings/reviews_pagination.html' %}
    
    <ul class="list-group">
	{% for review in list %}
	<li class="list-group-item">
	    <a href="{% url 'albums:album' review.rating.rating.albums.get.mbid %}"><img title="{{review.rating.rating.albums.get.title}}" src="{% static 'images/loading.gif' %}" data-src="{{ review.rating.rating.albums.get.get_cover }}" style="height : 50px"></a> &nbsp Critique de <a href="{% url 'profile' review.rating.user.username %}">{{review.rating.user}}</a> sur l'album <a href="{% url 'albums:album' review.rating.rating.albums.get.mbid %}">{{review.rating.rating.albums.get.title}}</a> ({{review.rating.score}}/10) - {{ review.date_publication }}
	    <div class="bg-light" style="text-indent : 15px">
		<h5><a href="{% url 'albums:review' review.rating.rating.albums.get.mbid review.id %}">{{ review.title }}</a></h5>
		<br>
		<p>{{ review.content|striptags|slice:':600' }}...</p>
		<p class="text-right"><a href="{% url 'albums:review' review.rating.rating.albums.get.mbid review.id %}">Voir la critique</a> &nbsp &nbsp</p>
	    </div>
	</li>
	{% endfor %}
    </ul>
</div>

{% endblock %}
