{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}
{% load core_tags %}

{% block title %}
Export du {{ stats.created_at }}
{% endblock %}


{% block body_title %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
	<h1 class="text-center display-4">Export du {{stats.created_at}}</h1>

    </div>
</div>
{% endblock %}


{% block content %}

<div class="col-12 col-lg-2 bg-light">

    <br>

    <ul class="list-group">
	<li class="list-group-item">
	    Origine : <strong>{{ stats.site }}</strong>
	</li>
	<li class="list-group-item">
	    Exportés :
	    {% for el in stats.data_to_export %}
	    {{ el }},
	    {% endfor %}
	</li>
	<li class="list-group-item">
	    Nouvelles notes : <strong><font color="green"> {{ stats.new_ratings }}</font></strong>
	</li>
	<li class="list-group-item">
	    Conflits : <strong>{{ stats.conflicts }}</strong> ({% if stats.erase_old %}anciennes notes remplacées{% else %}anciennes notes conservées{% endif %})
	</li>
	<li class="list-group-item">
	    Albums non trouvés : <strong><font color="red"> {{ stats.not_found }}</font></strong>
	</li>
    </ul>
</div>

<div class="col-12 col-lg-10">

    <div class="row">

	<div class="col-12 col-md-4" id="success" v-cloak>

	    <h3>Nouvelles notes ({{ stats.new_ratings }})</h3>

	    <p>Ces albums ont été ajoutés à votre collection.</p>

	    <paginate
		ref="paginateSuccess"
		v-model="current_page"
		:page-count="nb_pages"
		:click-handler="changePage"
		:prev-text="'<'"
		:next-text="'>'"
		:container-class="'pagination'"
		:page-class="'page-item'"
		:prev-class="'page-item'"
		:next-class="'page-item'"
		:page-link-class="'page-link sanguine'"
		:prev-link-class="'page-link sanguine'"
		:next-link-class="'page-link sanguine'"
		:active-class="'active color-sanguine'"
		v-show="nb_pages > 1"
	    ></paginate>

	    <ul class="list-group">
		<li class="list-group-item" v-for="el in elements">
		    <album_popover class="d-inline" :mbid="el.mbid"><a href="#" slot="preview" @click.prevent>[[ el.title ]]</a></album_popover> -> [[ el.rating ]]

		</li>
	    </ul>

	</div>

	<div class="col-12 col-md-4" id="conflicts"  v-cloak>

	    <h3>Conflits ({{stats.conflicts}})</h3>

	    <p>Vous aviez déjà noté ces albums sur La Musithèque :
		{% if stats.erase_old %}les notes ont été remplacées par celles de Senscritique.
		{% else %}
		ces notes ont été conservées et n'ont pas été modifiées par celles de Senscritique.
		{% endif %}
	    </p>

	    <paginate class="text-center"
		ref="paginateConflicts"
		     v-model="current_page"
		     :page-count="nb_pages"
		     :click-handler="changePage"
		     :prev-text="'<'"
		     :next-text="'>'"
		     :container-class="'pagination'"
		     :page-class="'page-item'"
		     :prev-class="'page-item'"
		     :next-class="'page-item'"
		     :page-link-class="'page-link sanguine'"
		     :prev-link-class="'page-link sanguine'"
		     :next-link-class="'page-link sanguine'"
		     :active-class="'active color-sanguine'"
		     v-show="nb_pages > 1"
	    ></paginate>

	    <ul class="list-group">
		<li class="list-group-item" v-for="el in elements">
		    <album_popover class="d-inline" :mbid="el.mbid"><a href="#" slot="preview" @click.prevent>[[ el.title ]]</a></album_popover>

		</li>
	    </ul>

	</div>


	<div class="col-12 col-md-4" id="not_found"  v-cloak>

	    <h3>Albums non trouvés ({{stats.not_found}})</h3>

	    <p>Ces albums existent certainement dans notre base de données, mais n'ont pas été trouvés par notre algorithme, sans doute car les noms diffèrent de ceux de Senscritique. Faites une recherche via la barre de recherche pour noter ces albums.</p>

	    <paginate
		ref="paginateNotFound"
		     v-model="current_page"
		     :page-count="nb_pages"
		     :click-handler="changePage"
		     :prev-text="'<'"
		     :next-text="'>'"
		     :container-class="'pagination'"
		     :page-class="'page-item'"
		     :prev-class="'page-item'"
		     :next-class="'page-item'"
		     :page-link-class="'page-link sanguine'"
		     :prev-link-class="'page-link sanguine'"
		     :next-link-class="'page-link sanguine'"
		     :active-class="'active color-sanguine'"
		     v-show="nb_pages > 1"
	    ></paginate>

	    <ul class="list-group">
		<li class="list-group-item" v-for="el in elements">
		    [[ el.album ]] de [[ el.artists.join(', ') ]]

		</li>
	    </ul>

	</div>

	
    </div>

    <div class="row">

    </div>
    
</div>


{% endblock %}


{% block scripts %}




<script src="{% static 'js/vuejs-paginate.js' %}"></script>

<script>
 var album_update_cover_url = "{% url 'albums:update_cover' %}"
 var default_album_cover = "{% static 'albums/images/default_cover.png' %}"
 var home_followees_reviews_url = "{% url 'home_followees_reviews' %}"
 var home_followees_ratings_url = "{% url 'home_followees_ratings' %}"
 var album_data_url = "{% url 'albums:album_data' %}"
</script>

{% include_popover_scripts %}

<script>
 var new_ratings = parseInt("{{stats.new_ratings}}")
 var conflicts = parseInt("{{stats.conflicts}}")
 var not_found = parseInt("{{stats.not_found}}")

 var export_id = "{{ stats.id }}"
 
</script>

<script>

 var per_page = 10

 
 var success_vm = new Vue({
     el : '#success',
     delimiters : ['[[', ']]'],
     data : {
	 current_page : 1,
	 nb_pages : Math.floor(new_ratings/per_page) + (new_ratings % per_page > 0),
	 elements : []
     },
     methods : {
	 changePage(numPage){
	     console.log(numPage)
	     axios.get('/exports/' + export_id + '/nouveaux/',
		       {
			   params : {
			       page : numPage
			   }
		       }
	     ).then(response => {
		 this.elements = response.data.data
	     }).catch(error => {
		 console.log(error)
		 this.elements = []
	     })
	 }
     },
     components : {
	 'paginate' : VuejsPaginate,
	 album_popover,
     },
     mounted(){
	 axios.get('/exports/' + export_id + '/nouveaux/',
		   {
		       params : {
			   page : 1
		       }
		   }
	 ).then(response => {
	     this.elements = response.data.data
	 }).catch(error => {
	     console.log(error)
	     this.elements = []
	 })
     }
     

 });


 var conflicts_vm = new Vue({
     el : '#conflicts',
     delimiters : ['[[', ']]'],
     data : {
	 current_page : 1,
	 nb_pages : Math.floor(conflicts/per_page) + (conflicts % per_page > 0),
	 elements : []
     },
     methods : {
	 changePage(numPage){
	     console.log(numPage)
	     axios.get('/exports/' + export_id + '/conflits/',
		       {
			   params : {
			       page : numPage
			   }
		       }
	     ).then(response => {
		 this.elements = response.data.data
	     }).catch(error => {
		 console.log(error)
		 this.elements = []
	     })
	 }
     },
     components : {
	 'paginate' : VuejsPaginate,
	 album_popover,
     },
     mounted(){
	 axios.get('/exports/' + export_id + '/conflits/',
		   {
		       params : {
			   page : 1
		       }
		   }
	 ).then(response => {
	     this.elements = response.data.data
	 }).catch(error => {
	     console.log(error)
	     this.elements = []
	 })
     }
     

 })


 var not_found_vm = new Vue({
     el : '#not_found',
     delimiters : ['[[', ']]'],
     data : {
	 current_page : 1,
	 nb_pages : Math.floor(not_found/per_page) + (not_found % per_page > 0),
	 elements : []
     },
     methods : {
	 changePage(numPage){
	     console.log(numPage)
	     axios.get('/exports/' + export_id + '/echecs/',
		       {
			   params : {
			       page : numPage
			   }
		       }
	     ).then(response => {
		 this.elements = response.data.data
	     }).catch(error => {
		 console.log(error)
		 this.elements = []
	     })
	 }
     },
     components : {
	 'paginate' : VuejsPaginate,
     },
     mounted(){
	 axios.get('/exports/' + export_id + '/echecs/',
		   {
		       params : {
			   page : 1
		       }
		   }
	 ).then(response => {
	     this.elements = response.data.data
	 }).catch(error => {
	     console.log(error)
	     this.elements = []
	 })
     }
     

 })

</script>


{% endblock %}
