{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}
Votes sur les genres
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-3 col-lg-3">

    {% include 'albums/album_sidebar.html' with album=album artists=artists %}
</div>

<div class="col-sm-12 col-md-9 col-lg-9" id="app">

    <a href="{% url 'albums:album' mbid %}">< Retour à l'album</a>

    <br><br>
    
    <div class="row">

	<div class="col-sm-12 col-md-6 col-lg-4">
	    <form enctype="multipart/form-data" action="{% url 'albums:album_genres' mbid %}" method="post">
		
		{% csrf_token %}
		
		{{ genre_form|as_bootstrap }}
		
		<button class="btn color-sanguine" type="submit">Soumettre</button>
		
	    </form>

	    <p>Vous ne trouvez pas un genre musical ? <a href="{% url 'albums:submit_genre' %}">Ajoutez-le</a> !</p>
	</div>
    </div>
    <br>

    <hr>

    <div class="row">
	<div class="col-12">

	    <h2>Genres</h2>


	    {% for album_genre in album_genres_user %}

	    <genre url_votes="{% url 'albums:ajax_vote' %}" url_report="{% url 'albums:report_genre' %}" slug="{{ album_genre.gen.genre.slug }}" mbid="{{ album.mbid }}" name="{{album_genre.gen.genre.name}}" type="{{album_genre.vote}}" :upvotes="{{ album_genre.gen.num_vote_up }}" :downvotes="{{ album_genre.gen.num_vote_down }}"></genre>
	    
	    {% endfor %}
	    
	</div>

    </div>
</div>
{% endblock %}


{% block scripts %}

<script src="{% static 'albums/js/genreVote.js' %}"> </script>

<script>
 let vm = new Vue({
     el: '#app',
     delimiters : ['[[', ']]'],
     components : {genre},
 });
 
</script>

{% endblock %}
