{% extends 'base.html' %}

{% load staticfiles %}
{% load ratings %}

{% block title %}
{{ album.title }}
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'albums/css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">

<link href="{% static 'css/trumbowyg.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-3 col-lg-3">
    {% include 'albums/album_sidebar.html' with album=album artists=artists mbid=album.mbid %}
</div>

<div class="col-sm-12 col-md-9 col-lg-6">

    <h2> Listes avec {{ album.title }}</h2>

    <a href="{% url 'albums:album' album.mbid %}">< Retourner à la page album</a>
    <br>    <br>

    {% if paginate %}
    <nav aria-label="...">
	<ul class="pagination">
	    {% if lists.has_previous %}
            <li class="page-item"><a class="page-link sanguine" href="?page={{lists.previous_page_number}}">Précédent</a></li>
	    {% else %}
	    <li class="page-item disabled"><span class="page-link sanguine">Précédent</span></li>
	    {% endif %}
	    {% if lists.has_next %}
            <li><a class="page-link sanguine" href="?page={{lists.next_page_number}}">Suivant</a></li>
	    {% else %}
	    <li class="page-item disabled"><span class="page-link sanguine">Suivant</span></li>
	    {% endif %}
	</ul>
    </nav>
    {% endif %}

    {% if lists %}
    <table class="table">
	<tr>
	    <th>Listes</th>
	</tr>
	{% for list in lists %}
	<tr>
	    <td> <a href="{% url 'lists:display_list' list.id %}">{{ list.title }}</a> (liste de <a href="{% url 'profile' list.user.username %}"> {{ list.user  }}</a>) <span class="float-right"> <i class="fas fa-heart"></i> <span>{{ list.num_vote_up }}</span></span></td>
	</tr> 
	{% endfor %}
    </table>
    {% else %}
    <p>    Aucun résultat trouvé.</p>
    {% endif %}
    
</div>

{% endblock %}
