{% load staticfiles %}

{% load ratings %}

<div class="card">
    <img class="card-img-top" src="{% static 'images/loading.gif' %}" data-src="{{ album.get_cover }}" alt="{{ album.title }}">
    
    <div class="card-body">
	<h5 class="card-title"><a href="{% url 'albums:album' mbid %}">{{ album.title }}</a></h5>
	<p class="card-text">
	    {% autoescape off %}
	    {{ artists }}
	    {% endautoescape %}
	</p>
	
    </div>
    <ul class="list-group list-group-flush">
	<li class="list-group-item">
	    Date de parution : {{ album.get_release_date }}
	</li>
	<li class="list-group-item">
	    Type : {{ album.get_album_type_display }}
	</li>
	{% if genres != False %}
	<li class="list-group-item">
	    {% if genres %}
	    {% autoescape off %}
	    Genre : {{ genres }}
	    {% endautoescape %}
	    {% else %}
	    Genre : inconnu
	    {% endif %}
	    (<a href="{% url 'albums:album_genres' mbid %}">voter sur les genres</a>)
	</li>
	{% endif %}
    </ul>
</div>
