{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}

{% if artist_name %}
{{ artist_name }}
{% else %}
Artiste
{% endif %}

{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-3 col-lg-3">

    <div class="card">
	<img class="card-img-top" src="{% static 'images/loading.gif' %}" data-src="{% if artist_picture %}{{ artist_picture }}{% else %}{% static 'images/artist.jpg' %}{% endif %}" alt="{{ artist_name }}" class="img-responsive">
	<div class="card-body">
	    <h5 class="card-title" id="artiste_bar">{{ artist_name }}</h5>
	    <p class="card-text">
		{% if genres %}
		{% autoescape off %}
		Genres associés : {{ genres }}
		{% endautoescape %}
		{% else %}
		{% endif %}
	    </p>
	</div>
    </div>
    
</div>

<div class="col-sm-12 col-md-9 col-lg-9" id="data">

    <p class="text-center"><img src="{% static 'images/loading.gif' %}" class="img-responsive"></p>
    
</div>


{% endblock %}

{% block scripts %}

<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'star-ratings/js/star-rating-popover.min.js' %}"></script>

<script>
 
 window.addEventListener('load', function(){
     axios(
	 {
	     method : 'get',
	     url : "{% url 'albums:ajax_artist' mbid %}",
	     params : {
		 page : "{{page}}",
		 nom : "{{search}}",
	     },
	 }
     ).then(response => {
	 var data = document.getElementById('data');
	 data.innerHTML = response.data.html;
	 var artist = document.getElementById('artiste');
	 var artiste_bar = document.getElementById('artiste_bar');
	 artiste_bar.innerText = artist.innerText;

	 var albums = extractMBID(response.data.albums);
	 loadRatings(albums);
	 
     }
     ).catch(error => {
	 console.log(error)
     })
 });

 function extractMBID(albums){
     var mbids = []
     albums.forEach(function(e){
	 var data = e[1]
	 data.forEach(function(alb){
	     mbids.push(alb.mbid)
	 })     
     })
     return mbids
 }

 function scoreOrZero(score){
     if (parseFloat(score) == 0)
	 return '-';
     return score;
 }

 function loadRatings(albums){
     axios({
	 method: 'get',
	 url : "{% url 'albums:ajax_artist_page_ratings' %}",
	 params: {
	     albums : albums.join(' '),
	 }
     }
     ).then(response => {
	 var data = response.data.albums;
	 
	 var alb_id = document.getElementsByClassName('rating_area');

	 {% if user.is_authenticated %}
	 var user_data  = {};
	 {% endif %}

	 Array.from(alb_id).forEach(function(item) {
	     var mbid = item.id.replace('ID', '');
	     if (data.hasOwnProperty(mbid)){

		 item.getElementsByClassName('avg-rating')[0].innerText = scoreOrZero(data[mbid]['avg'])
		 item.getElementsByClassName('avg-rating')[0].title = 'Note moyenne (' + data[mbid]['count'] + ' notes)';
		 {% if user.is_authenticated %}
		 user_data[mbid] = data[mbid]['user']
		 /* item.getElementsByClassName('user-rating')[0].innerText = scoreOrZero(data[mbid]['user'])*/
		 item.getElementsByClassName('follow-rating')[0].innerText = scoreOrZero(data[mbid]['followees'])
		 {% endif %}
	     }
	     else {
		 item.getElementsByClassName('avg-rating')[0].innerText = '-'
		 item.getElementsByClassName('avg-rating')[0].title = 'Note moyenne (0 notes)';
		 {% if user.is_authenticated %}
		 user_data[mbid] = 0
		 /* item.getElementsByClassName('user-rating')[0].innerText = '-'*/
		 item.getElementsByClassName('follow-rating')[0].innerText = '-'
		 {% endif %}
	     }

	     {% if user.is_authenticated %}
	     new Vue({
		 el : '#' + item.id,
		 delimiters : ['[[', ']]'],
		 components : {
		     'star-rating' : VueStarRating.default,
		 },
		 data : {
		     rating : user_data[mbid],
		     mbid : mbid,
		     url : "{% url 'albums:load_and_rate' %}",
		 },
		 methods : {
		     scoreOrZero : function(score){
			 if (parseFloat(score) == 0)
			     return '-';
			 return score;
		     },
		     post_vote : function(newVal, oldVal){
			 axios({
			     method : 'post',
			     url : this.url,
			     data : getFormData({
				 mbid : this.mbid,
				 score : newVal,
			     }),
			     xsrfHeaderName: "X-CSRFToken",
			 }).then(response => {
			 }).catch(error => {
			     this.unwatch();
			     this.rating = oldVal;
			     var vm = this;
			     this.unwatch = this.$watch('rating', function(newVal, oldVal){vm.post_vote(newVal, oldVal)});
			     alert('Une erreur est survenue : votre note n\'a pas été prise en compte');
			     console.log(error);
			 });
			 this.$emit('rate', newVal);
		     }
		 },
		 mounted : function(){
		     var vm = this;
		     this.unwatch = this.$watch('rating', function(newVal, oldVal){vm.post_vote(newVal, oldVal)});
		 }
		 
		 
	     });
	     {% endif %}
	 });

	 
     }
     ).catch(error => {console.log(error)})
     
 }
 
</script>

<script>

</script>

{% endblock %}
