{% extends 'base.html' %}


{% load staticfiles %}

{% block title %}
{{ genre.name }}
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-6 offset-md-3">

    <h1>{{genre.name}}</h1>
    <p>{{ genre.description|linebreaks }}</p>

    <div class="row">


	{% if top %}
	<div class="col-12 col-lg-6">
	    <h4>Top 10 albums de pour ce genre</h4>
	    <ul class="list-group">
		{% for album in top %}

		<li class="list-group-item">
		    <img src="{% static 'images/loading.gif' %}" data-src="{{ album.get_cover }}" style="height : 40px"> &nbsp {{forloop.counter}}. <a href="{% url 'albums:album' album.mbid %}">{{ album }}</a> <span title="moyenne" class="float-right w3-tag rounded avg-rating w3-xlarge">{{ album.ratings.get.average|floatformat:'1' }}</span>
		</li>
		
		{% endfor %}
	    </ul>
	    <p class="text-right"><a href="{% url 'albums:top_album' genre.slug 'tout' %}">Voir le top 100 {{genre.name}}</a></p>
	</div>
	{% endif %}

	{% if children %}
	<div class="col-12 col-lg-6">
	    <h4>Sous-genres</h4>
	    <ul>
		{% for child in children %}
		<li>
		    <a href="{% url 'albums:genre' child.slug %}">{{child.name}}</a>
		</li>
		{% endfor %}
	    </ul>
	</div>
	{% endif %}

	
    </div>    

    <br>
    
    <p class="text-right"><a href="{% url 'albums:submit_genre' %}">Ajouter un genre</a> </br>
	<a href="{% url 'albums:genres' %}">Tous les genres</a></p>

</div>
{% endblock %}
