{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
Tous les genres
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-6 offset-md-3 bg-light">

    <h1 class="text-center">Tous les genres</h1>

    <div class="alert alert-danger">
	<h2 class="text-center"><strong>Attention !</strong></h2>
	<p class="text-center">Ce site est tout neuf et encore un peu vide ! Votre contribution est très appréciée. Il manque un genre musical ? N'oubliez pas de consulter les sous genres des genres affichés (vous trouverez par exemple 'Death Metal' en cliquant sur le genre 'Metal'). Vous ne trouvez toujours pas un genre ? <a href="{% url 'albums:submit_genre' %}">Proposez-le</a> ! </p>
    </div>

    <p class="text-center"><a href="{% url 'albums:submit_genre' %}">Ajouter un genre</a></p>

    <div class="row">
	<div class="mx-auto">
	    <ul class="treeview-ul" id="genres">
		<item v-for="tree in treeData.tree"
		    class="treeview-item"
		    :model="tree">
		</item>
	    </ul>
	</div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'js/vue.min.js' %}"></script>

<script> 

 var tree_data = JSON.parse("{{tree|escapejs}}");

 Vue.component('item' , {
     delimiters : ['[[', ']]'],
     template: `
	 <li>
	     <div :class="{bold: isFolder}" @click="toggle" @dblclick="changeType">
		 <a :href="model.url">[[ model.name ]]</a>
		 <span v-if="isFolder">[ [[ open ? '-' : '+' ]] ]</span>
	     </div>
		     <ul class="treeview-ul" v-show="open" v-if="isFolder">
			 <item class="item" v-for="(model, index) in model.children" :key="index" :model="model">
			 </item>
		     </ul>
	 </li>
     `,
     props: {
	 model: Object
     },
     data: function () {
	 return {
	     open: false
	 }
     },
     computed: {
	 isFolder: function () {
	     return this.model.children &&
		    this.model.children.length
	 }
     },
     methods: {
	 toggle: function () {
	     if (this.isFolder) {
		 this.open = !this.open
	     }
	 },
	 changeType: function () {
	     if (!this.isFolder) {
		 Vue.set(this.model, 'children', [])
		 this.addChild()
		 this.open = true
	     }
	 },
	 addChild: function () {
	     this.model.children.push({
		 name: 'new stuff'
	     })
	 }
     }
 })
 
 var demo = new Vue({
     el: '#genres',
     delimiters : ['[[', ']]'],
     data: {
	 treeData: tree_data
     }
 })
 
</script>

{% endblock %}
