{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}


{% block title %} 
Ajouter un genre
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-6 offset-md-3">
<h2>Ajouter un genre</h2>

<p>Proposez un genre à rajouter en remplissant le formulaire ci dessous. Votre proposition sera étudiée par la modération.</p>

<form enctype="multipart/form-data" action="{% url 'albums:submit_genre' %}" method="post">

    {% csrf_token %}

    {{ genre_form|as_bootstrap }}
    
    <input class="form-control" type="submit" value="Soumettre" />
    
</form>

</div>
{% endblock %}

