{% extends 'account/profile_base.html' %}

{% load staticfiles %}

{% load bootstrap_tags %}

{% block title %}
Modifier votre profil
{% endblock %}

{% block profile_sidebar %}

{% include 'account/profile_sidebar.html' with profile=user.account %}
{% endblock %}

{% block profile_content %}

<div class="row">

    <div class="col-12 col-md-6">
        <h2>Mes exports de données</h2>

        <p>Vous avez un compte Senscritique ? Ne passez pas des jours à recopier vos notes d'albums ! Chez La
            Musithèque, on exporte vos données automatiquement en quelques clics ;)</p>

        <a class="btn btn-success" href="{% url 'export_ratings:create_export' %}">Exporter mes données depuis un autre
            site</a>

        <br>
        <br>

        {% if exports %}
        <ul class="list-group">
            {% for export in exports %}
            <li class="list-group-item">
                <a href="{{export.get_absolute_url}}">Export du {{ export.created_at|date }} à {{export.created_at|time
                    }}</a>
            </li>
            {% endfor %}

        </ul>
        {% else %}
        Vous n'avez pas encore exporté de données depuis un autre site.
        {% endif %}

    </div>
</div>
{% endblock %}
