.fill {
    min-height: 100%;
    height: 100%;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.color-sky {
    background-color: #75B1A9;
    color : white;
			 
}


.color-sunglow {
   background-color: #D9B44A;
   color : black;
}

.color-mountains {
   background-color: #4F6457;
   color : white;
}

.color-mist {
   background-color: #ACD0C0;
   color : white;
}

.color-skyblue {
   background-color: #4986A1;
   color : black;
}

.color-pale {
    background-color : #f5f9f8;
    color : black;
}

a {
    color : #4F6457;
    text-decoration : none;
    font-weight : bold;
}

a:hover{
    color : #4F6457;
    text-decoration : underline;
}

.custom-editor {
    min-height : 0 !important;
}


.modal-body {
    margin : 0 0 !important;
}

@media screen and (max-width: 640px) {
  .modal-container {
      padding : 0 0 !important;
  }
}

.company-header-avatar{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
}


.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.scrollable {
    overflow-y: scroll;
    max-height : 500px;
    width : 100%;
}

.responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
}

.regular-gutter {
  margin-bottom: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top:80px;
    height : 100%;
    margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height : 50px;
  line-height: 50px; /* Vertically center the text there */		 
}


.color-teal {
    background-color : #009997;
    color : white;
}

.teal {
    color : #009997;
}

.color-sanguine {
    background-color : #9A3334!important;
    color : white;
}

.sanguine {
    color : #9A3334;
}

.color-light-gray {
    color : black;
    background-color : #cccccc;
}
.c-page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #9A3334;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    background-color: #9A3334;
    border-color: #9A3334;
}

.page-item:not(.active) .page-link:hover {
    color: #9A3334;
}

.notif-badge {
   position:relative;
}
.notif-badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.avg-rating {
    background-color : #E6E3DC;
    color : black;
    border : solid;
    border-width : 1px;
}

.user-rating {
    /* background-color : #9A3334; */
    /* color : white; */
    /* border : outset; */
    /* border-color : #9A3334; */
    background-color : white;
    color : #9A3334;
    border : solid;
    border-width : 1px;
}

.follow-rating {
    /* background-color : #E6E3DC; */
    /* color : black; */

    background-color : white;
    color : #009997;
    border : solid;
    border-width : 1px;
}

.const-span {
    width : 48px;

}