{% extends 'base.html' %}

{% load staticfiles %}
{% load discussion %}
{% load comments %}
{% load core_tags %}

{% block title %}

{% if instance and instance != 0 %}
Discussions sur {{ instance }}
{% elif instance == 0 %}
Discussions générales
{% else %}
Toutes les discussions
{% endif %}

{% endblock %}

{% block content %}

<div class="col-12 col-lg-2">

    {% if instance and instance != 0 %}
    <div class="card">
	<img class="card-img-top" data-src="{{ instance.get_preview }}" src="{% static 'images/loading.gif' %}" alt="{{instance}}">
	<div class="card-body">
	    <h5 class="card-title text-center"><a href="{{instance.get_absolute_url}}" >{{ instance }}</a> </h5>
	</div>
    </div>
    {% endif %}
    
</div>

<div class="col-sm-12 col-lg-8 border bg-white" style="height:100%" id="app">
    
    {% if instance is not None %}
    <p> < <a href="{% url 'discussions:search_discussion_for_object' %}">Toutes les discussions</a></p>
    {% if instance == 0 %}
    <h1 class="text-center">Discussions générales</h1>
    {% else %}
    <h1 class="text-center">Discussions sur <a href="{{ instance.get_absolute_url }}">{{ instance }}</a></h1>
    {% endif %}
    
    {% else %}
    <h1 class="text-center">Toutes les discussions</h1>

    {% endif %}

    <div class="text-center">
	{% if instance and instance != 0 %}
	<a class="btn color-teal m-2" href="{% url 'discussions:create_discussion' instance|content_type_pk instance.pk %}">Nouvelle discussion</a>
	{% elif instance == 0 %}
	<a class="btn color-teal m-2" href="{% url 'discussions:create_discussion' 0 0 %}">Nouvelle discussion</a>
	{% else %}
	<a class="btn color-teal m-2" href="{% url 'discussions:create_discussion' %}">Nouvelle discussion</a>
	{% endif %}
    </div>

    <form class="form-inline justify-content-center bg-light p-2" method="get" action="{{request.path}}">

	<label for="title" class="sr-only">Sujet : </label>
	<div class="input-group">
	    <input id="title" class="form-control mr-2 ml-2 mt-1" type="text" name="titre" {% if title %}value="{{title}}"{% endif %} placeholder="Sujet">
	</div>

	
	<label for="author" class="sr-only">Auteur : </label>
	<div class="input-group">
	    <input id="author" class="form-control mr-2 ml-2 mt-1" type="text" name="auteur" {% if author %}value="{{author}}"{% endif %} placeholder="Auteur">
	</div>

	<label class="mr-2 sr-only" for="query">Filtre : </label>
	<select class="form-control ml-2 mr-2 mt-1" id="query" name="filtre">
	    <option value="récents" {% if query == "récents" %}selected{% endif %}>Récentes</option>
	    <option value="meilleurs" {% if query == "meilleurs" %}selected{% endif %}>Meilleures</option>
	    <option value="populaires" {% if query == "populaires" %}selected{% endif %}>Populaires</option>
	</select>

	<button type="submit" class="btn mr-2 ml-2 mt-1">Rechercher</button>
    </form>


    <br>
    
    {% if discussions|length_is:"0" %}
    <div class="text-center">
	Aucun résultat n'a été trouvé
    </div>

    {% else %}

    {% if paginate %}
    <nav aria-label="...">
	<ul class="pagination">
	    {% if discussions.has_previous %}
            <li class="page-item"><a class="page-link sanguine" href="{{request.path}}?page={{discussions.previous_page_number}}{% if title %}&titre={{title}}{% endif %}{% if author %}&auteur={{author}}{% endif %}">Précédent</a></li>
	    {% else %}
 	    <li class="page-item disabled"><span class="page-link sanguine">Précédent</span></li>
	    {% endif %}
	    {% if discussions.has_next %}
            <li class="page-item"><a class="page-link sanguine" href="{{request.path}}?page={{discussions.next_page_number}}{% if title %}&titre={{title}}{% endif %}{% if author %}&auteur={{author}}{% endif %}">Suivant</a></li>
	    {% else %}
	    <li class="page-item disabled"><span class="page-link sanguine">Suivant</span></li>
	    {% endif %}
	</ul>
    </nav>
    {% endif %}

    <br>

    <ul class="list-group">
	{% for disc in discussions %}
	<li class="list-group-item d-flex p-0">
	    <div style="min-width:45px" class="mr-1">
		{% if user.is_authenticated %}
		<discussion_vote url_votes="{% url 'discussions:ajax_vote' %}" d_id="{{ disc.id }}" content_object type="{{ disc|get_vote:user }}" :upvotes="{{ disc.num_vote_up }}" :downvotes="{{ disc.num_vote_down }}"></discussion_vote>
		{% else %}

		<div class="mt-2 p-0">
		    <p class='text-center m-0'><a href="{% url 'login' %}?next={{request.path}}" class='vote fas fa-angle-up fa-lg'></a></p>
		    <h5 class='m-0 text-center'>{{ disc.vote_score }}</h5>
		    <p class='text-center m-0'><a href="{% url 'login' %}?next={{request.path}}" class='vote fas fa-angle-down fa-lg'></a></p> 
		</div>
		
		{% endif %}
	    </div>
	    <div class="flex-grow-1">
		<p class="text-muted mt-1 mb-1 {% if instance == None %}float-left{% endif %}"><a href="{% url 'profile' disc.author.username %}"><span class="m-0 company-header-avatar" style="background-image : url({{ disc.author.account.get_avatar }}); width : 25px; height : 25px;"></span></a> &nbsp; <a href="{% url 'profile' disc.author.username %}"> {{ disc.author }}</a> il y a {{ disc.modified|timesince }}</p>

		{% if instance == None %}
		{% if disc.content_object %}
		{% with content_object=disc.content_object %}
		<p class="float-right pr-2 mb-0"><small>sur
		    {% if content_object|is_instance_of:'Album' %}
		    <album_popover class="d-inline" mbid="{{content_object.mbid}}">
			<a slot="preview" href="{% url 'discussions:search_discussion_for_object' content_object|content_type_pk disc.object_id %}">{{ content_object }}</a>
		    </album_popover>
		    <span class="d-none d-md-inline">- {{content_object|content_type}}</span>
		    {% else %}		    
		    <a href="{% url 'discussions:search_discussion_for_object' disc.content_object|content_type_pk disc.object_id %}">{{ content_object }}</a> <span class="d-none d-md-inline">- {{content_object|content_type}}</span>
		    {% endif %}
		</small></p>
		{% endwith %}
		{% else %}
		<p class="float-right pr-2 mb-0"><small><a href="{% url 'discussions:search_discussion_for_object' 0 0 %}">Discussion générale</a> <span class="d-none d-md-inline"></span></small></p>
		{% endif %}
		<div style="clear: both;"></div>
		{% endif %}
		
		<hr class="m-1">
		<h3 class="ml-3"><a href="{{ disc.get_absolute_url }}">{{ disc.title }}</a></h3>
	    </div>
	    {% get_comment_count for disc as comm_count %}
	    <div style="min-width:45px" class="bg-light pt-3 d-none d-md-block">
		<p class="text-center p-0 m-0"> <span title="Commentaires" class="far fa-comment-alt fa-lg"></span></p>
		<p class="text-center">{{ comm_count }} </p>
	    </div>
	</li> 
	{% endfor %}
    </ul>
    
    <br>

    {% if paginate %}
    <nav aria-label="...">
	<ul class="pagination">
	    {% if discussions.has_previous %}
            <li class="page-item"><a class="page-link sanguine" href="{{request.path}}?page={{discussions.previous_page_number}}{% if title %}&titre={{title}}{% endif %}{% if author %}&auteur={{author}}{% endif %}">Précédent</a></li>
	    {% else %}
 	    <li class="page-item disabled"><span class="page-link sanguine">Précédent</span></li>
	    {% endif %}
	    {% if discussions.has_next %}
            <li class="page-item"><a class="page-link sanguine" href="{{request.path}}?page={{discussions.next_page_number}}{% if title %}&titre={{title}}{% endif %}{% if author %}&auteur={{author}}{% endif %}">Suivant</a></li>
	    {% else %}
	    <li class="page-item disabled"><span class="page-link sanguine">Suivant</span></li>
	    {% endif %}
	</ul>
    </nav>
    {% endif %}

    {% endif %}

</div>

{% endblock %}

{% block scripts %}

{% if user.is_authenticated %}

<script> 
 var album_data_url = "{% url 'albums:album_data' %}"
</script>

{% include_popover_scripts %}

<script src="{% static 'discussions/js/discussionVote.js' %}"></script>
<script>
 let vm = new Vue({
     el: '#app',
     delimiters : ['[[', ']]'],
     components : {
	 discussion_vote,
	 album_popover,
     },
 });
 
</script>

{% endif %}

{% endblock %}
