{% extends 'base.html' %}

{% load staticfiles %}
{% load comments %}

{% block title %}
{{ infos.title }}
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'albums/css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
{% endblock %}

{% block body_title %}

<div class="jumbotron jumbotron-fluid color-light-gray" id="app-header">
    <div class="container-fluid">
	<h1 class="display-3 text-center" v-cloak>[[ infos.title ]]</h1>
	<div class="text-center" v-cloak>
	    <div class="lead" style="display: inline"> Liste de <a :href="infos.user_profile">[[ infos.user ]]</a>	
	    </div>
	    <circlethumb :url="infos.avatar" :style="{ 'float' : 'none' }"></circlethumb>
	</div>
	<br>

	<div class="text-center" v-html="lineBreak(infos.description)" v-if="!infos.can_edit"></div>
	<div class="text-center" v-html="lineBreak(infos.description)" v-else-if="!edit_description" @click="editDescription" style="min-height : 50px; cursor : pointer"></div>
	<template v-else>
	    <editable class="bg-light text-center" style="color : black" :content="infos.description" @update="infos.description = $event"></editable>

	    <button class="btn btn-success float-right" @click="ajaxEditDescription">Modifier</button>
	    <button class="btn btn-secondary float-right" @click="cancelAndCloseDescription">Annuler</button>
	</template>

    </div>
</div>

{% endblock %}


{% block content %}

<div class="col-12" id="app">
    <div class="row">
	<div class="col-sm-12 col-md-9 offset-md-1 col-lg-7 offset-lg-2">

	    <p v-cloak>Liste de [[ all_items.length ]] albums</p>
	    <a id="deleteList" class="float-right" href="{% if user.is_authenticated %}{% url 'profile' user.username %}{% endif %}" v-if="infos.can_edit" @click.prevent="deleteList">Supprimer ma liste</a>
	    
	    <div class="row">
		<paginate class="mx-auto" key="page"
			  v-model="page"
			  ref="paginate1"
			  :page-count="infos.nb_pages"
			  :click-handler="changePage"
			  :prev-text="'Précédent'"
			  :next-text="'Suivant'"
			  :container-class="'pagination'"
			  :page-class="'page-item'"
			  :prev-class="'page-item'"
			  :next-class="'page-item'"
			  :page-link-class="'page-link sanguine'"
			  :prev-link-class="'page-link sanguine'"
			  :next-link-class="'page-link sanguine'"
			  :active-class="'active color-sanguine'"
			  v-show="infos.nb_pages > 1"
		></paginate>
	    </div>

	    <br>

	    <addalbum :album_list="all_items" :search_url="infos.search_url" @add="addItem" v-if="infos.can_edit"></addalbum>
	    
	    <br>
	    <br>

	    <div v-if="loading">
		<div style="position:relative" class="spinner"></div>
		<br>
		<br>
	    </div>
	    
	    
	    <div v-else>
		<p v-for="item in list">


		    <template>		    
			<div class="row">
			    <div class="col-sm-1">
				<template v-if="infos.can_edit">
				    <br>
				    <a class="float-right" href="#" @click.prevent="deleteItem(item)"><i class="fas fa-trash"></i></a>

				    <br>
				    <br>

				    <a class="float-right" href="#" @click.prevent="openModal(item)"><i class="fas fa-arrows-alt"></i></a>

				</template>
			    </div>
			    <div class='col-sm-3'>
				<div class="card">
				    <img class="card-img-top" :src="item.cover" :alt="item.title">
				</div>
			    </div>
			    <div class='col-sm-8 bg-light'>
				<h3 style='font-weight: bold;' v-if="infos.ordered"> [[ item.rank ]].
				    <a :href="item.album_url">[[ item.title ]]</a>
				    <span title="Note moyenne" class="w3-tag avg-rating rounded w3-xlarge" style="float : right;"> [[ displayRating(item.avg_rating) ]]</span>
				    <span style="float : right;">&nbsp; &nbsp;</span>
				    {% if user.is_authenticated %}
				    <span title="Moyenne de mes éclaireurs" class="w3-tag rounded follow-rating w3-xlarge" style="float : right;"> [[ displayRating(item.followees_rating) ]]</span>
				    {% endif %}
				</h3>
				<h3 style='font-weight: bold;' v-else>
				    <a :href="item.album_url">[[ item.title ]]</a>
				    <span title="Note moyenne" class="w3-tag avg-rating rounded w3-xlarge" style="float : right;"> [[ displayRating(item.avg_rating) ]]</span>
				    <span style="float : right;">&nbsp; &nbsp;</span>
				    {% if user.is_authenticated %}
				    <span title="Moyenne de mes éclaireurs" class="w3-tag rounded follow-rating w3-xlarge" style="float : right;"> [[ displayRating(item.followees_rating) ]]</span>
				    {% endif %}
				</h3>
				<p v-html="'Album de ' + item.artists"></p>
				{% if user.is_authenticated %}
				<p>	Ma note : <span title="Ma note" class="w3-tag rounded user-rating">[[ displayRating(item.user_rating) ]]</span>
				</p>
				{% endif %}
				<circlethumb :url="infos.avatar"></circlethumb>
				<br>
				<div>
				    &nbsp; <span title="Note de l'auteur" class="w3-tag w3-light-gray w3-xlarge">[[ displayRating(item.author_rating) ]]</span>
				</div>
				<br>
				<div>
				    <div v-html="lineBreak(item.comment)" style="min-height : 50px" v-if="!infos.can_edit"></div>
				    <div v-html="lineBreak(item.comment)" style="min-height : 50px; cursor:pointer" v-else-if="!item.editable" @click="editItem(item)"></div>
				    <template v-else>
					<editable class="border bg-white text-left" :content="item.comment" @update="item.comment = $event"></editable>
					<button class="btn btn-success float-right" @click="ajaxEditItem(item)">Modifier</button>
					<button class="btn btn-secondary float-right" @click="cancelAndCloseItem(item)">Annuler</button>
				    </template>
				</div>
				<br>
			    </div>
			</div>
			<hr>
		    </template>

		    
		</p>
		
	    </div>

	    <div class="row" v-show="!loading">
		<paginate class="mx-auto" key="page"
			  ref="paginate2"
			  v-model="page"
			  :page-count="infos.nb_pages"
			  :click-handler="changeAndScroll"
			  :prev-text="'Précédent'"
			  :next-text="'Suivant'"
			  :container-class="'pagination'"
			  :page-class="'page-item'"
			  :prev-class="'page-item'"
			  :next-class="'page-item'"
			  :page-link-class="'page-link sanguine'"
			  :prev-link-class="'page-link sanguine'"
			  :next-link-class="'page-link sanguine'"
			  :active-class="'active color-sanguine'"
			  v-show="infos.nb_pages > 1"
		></paginate>
	    </div>

	    <vote type="{{ user_vote }}" :upvotes="{{ infos.num_vote_up }}" :downvotes="{{ infos.num_vote_down }}" url_votes="{% url 'lists:ajax_vote' %}" element_id="{{ infos.id }}" :can_vote="{% if can_edit != False %}false{% else %}true{% endif %}"></vote>
	    
	    <modal container_class="little-modal-container" :show="showModal" v-cloak v-if="infos.can_edit">

		<div class="modal-header">
		    <h3>Déplacer l'élément</h3>
		    <button type="button" class="close" @click="closeModal">
			<span aria-hidden="true">&times;</span>
		    </button>
		</div>

		<div class="modal-body">
		    <select class="form-control" id="rank" v-model="selected_rank">
			<option :value="0">Choisissez une position</option>
			<option v-for="value in all_items" :value="value.order" v-if="value.order != current_item">[[ value.order ]] . [[ value.title ]]</option>
		    </select>
		</div>

		<div class="modal-footer text-right">
		    <button class="btn btn-primary" @click="moveItem">
			Déplacer
		    </button>
		</div>

	    </modal>

	    <h3>Commentaires</h3>
	    
	    <div>
		<div id="comments" style="max-height : 600px; overflow-y: scroll;">
		    {% render_comment_list for infos %}
		</div>
		{% if user.is_authenticated %}
		{% render_comment_form for infos %}
		{% endif %}
		
	    </div>
	    
	</div>
	
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="{% static 'js/axios.js' %}"></script>

<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'js/circle_thumbnail.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'ratings/js/vote.js' %}"></script>
<script src="{% static 'lists/js/add_album.js' %}"></script>
<script src="https://unpkg.com/vuejs-paginate@latest"></script>

<script>
 window.addEventListener('load', function(){
     var objDiv = document.getElementById("comments");
     objDiv.scrollTop = objDiv.scrollHeight;
 }, false)
</script>

<script>

 var infos={
     title : "{{ infos.title }}",
     description : `{{ infos.description }}`,
     user : "{{ infos.user.username }}",
     user_profile : "{% url 'profile' infos.user.username %}",
     avatar : "{{ infos.user.account.get_avatar }}",
     list_id : "{{ infos.id }}",
     ordered : {% if infos.ordered == True %}true{% else %}false{% endif %},
     nb_pages : {{nb_pages}},
     list_url : "{{list_url}}",
     edit_description_url : "{{edit_description_url}}",
     can_edit : {% if can_edit == True %}true{% else %}false{% endif %},
     items_url : "{{ get_items_url }}",
     move_item_url : "{{move_item_url}}",
     search_url : "{{search_url}}",
     add_url : "{{add_url}}",
     edit_url : "{{edit_url}}",
     delete_url : "{{delete_url}}",
     delete_list_url : "{{delete_list_url}}",
 }

 var list = []

 {% for item in list %}

 var item = {
     title : `{{ item.album.title }}`,
     cover : `{{ item.album.get_cover }}`,
     artists : `{% autoescape off %}{{ item.artists }}{% endautoescape %}`,
     rank : `{{ item.rank }}`,
     album_url : "{% url 'albums:album' item.album.mbid %}",
     avg_rating : "{{ item.average_rating }}",
     author_rating : {% if item.author_rating.score %}{{ item.author_rating.score }}{% else %}0{% endif %},
     user_rating : {% if item.user_rating %}{{ item.user_rating.score }}{% else %}0{% endif %},
     comment : `{{ item.comment }}`,
     editable : false,
     old_comment : `{{ item.old_comment }}`,
     mbid : "{{ item.mbid }}",
     followees_rating : "{{item.followees_rating}}",
 }

 list.push(item)
 
 {% endfor %}

 
 
</script>

<script>

 axios.defaults.xsrfHeaderName = "X-CSRFToken";

 var editable = {
     template:'<div class="col-12" contenteditable="true" @input="update" style="min-height : 50px"></div>',
     props:['content'],
     mounted:function(){
	 this.$el.innerText = this.content;
     },
     methods:{
	 update:function(event){
	     this.$emit('update',event.target.innerText);
	 }
     }
 }

 let vm_header = new Vue({
     el : '#app-header',
     delimiters : ['[[', ']]'],
     components : {
	 circlethumb,
	 editable,
     },
     data : {
	 edit_description : false,
	 infos : infos,
	 old_description : '',
     },
     methods : {
	 lineBreak : function(value){
	     return value.replace(/(?:\r\n|\r|\n)/g, '<br>');
	 },
	 ajaxEditDescription : function(){
	     axios({
		 method:'post',
		 url: this.infos.edit_description_url,
		 data: getFormData({
		     list_id : this.infos.list_id,
		     description : this.infos.description,
		 }),
	     }
	     ).then(response => {
		 this.old_description = this.infos.description;
	     }
	     ).catch(error => {
		 this.infos.description = this.old_description;
	     });
	     this.edit_description = false;
	 },
	 editDescription : function() {
	     this.old_description = this.infos.description;
	     this.edit_description = true;
	 },
	 cancelAndCloseDescription : function() {
	     this.infos.description = this.old_description;
	     this.edit_description = false;
	 },
     }
 })
 
 let vm = new Vue({
     delimiters : ['[[', ']]'],
     el : "#app",
     data : {
	 infos : infos,
	 list : list,
	 page : 1,
	 selected_rank : '0',
	 current_item : 0,
	 all_items : [],
	 showModal : false,
	 showSearch : false,
	 query : '',
	 loading: true,
     },
     mounted : function(){
	 this.loadAllItems();
	 this.loading = false;
     },     
     methods : {
	 lineBreak : function(value){
	     return value.replace(/(?:\r\n|\r|\n)/g, '<br>');
	 },
	 changeAndScroll : function(page){
	     this.changePage(page);
	     window.scrollTo(0,0);
	 },
	 changePage : function(page){
	     this.loading = true;
	     axios.get(this.infos.list_url, {
		 params : {
		     list_id : this.infos.list_id,
		     page : page,
		 }
	     }).then(response => {
		 this.list = response.data.list
		 this.infos.nb_pages = response.data.nb_pages
		 this.loading = false;
	     }).catch(error => {
		 console.log(error);
		 this.loading = false;
	     })	     
	 },
	 displayRating : function(rating){
	     var zero = 0.01
	     if (parseFloat(rating) < zero){
		 return '-'
	     }
	     else{
		 return rating.toString().replace(',', '.')
	     }
	 },
	 editItem : function(item){
	     item.old_comment = item.comment;
	     item.editable = true;
	 },
	 cancelAndCloseItem : function(item){
	     item.editable = false;
	     item.comment = item.old_comment;
	 },
	 ajaxEditItem : function(item){
	     axios({
		 method:'post',
		 url: this.infos.edit_url,
		 data: getFormData({
		     list_id : this.infos.list_id,
		     mbid : item.mbid,
		     comment : item.comment,
		 }),
	     }
	     ).then(response => {
		 item.old_comment = item.comment;
	     }
	     ).catch(error => {
		 item.comment = item.old_comment;
	     });
	     item.editable = false;
	 },
	 deleteItem : function(item){
	     var r = confirm("Voulez vous vraiment supprimer cet élément ?")
	     if (r){
		 axios({
		     method : 'post',
		     url : this.infos.delete_url,
		     data : getFormData({
			 mbid : item.mbid,
			 list_id : this.infos.list_id,
		     }),
		 }
		 ).then(response => {
		     this.changePage(this.page);
		     this.loadAllItems();
		 }
		 ).catch(error => {
		     console.log(error);
		 });
	     }	     
	 },
	 loadAllItems : function(){
	     axios({
		 method:'get',
		 url: this.infos.items_url,
		 params : {
		     list_id : this.infos.list_id,
		 }
	     }
	     ).then(response => {
		 this.all_items = response.data.items
	     }
	     ).catch(error => {
		 console.log(error);
	     });
	 },
	 openModal : function(item){
	     this.loadAllItems();
	     this.current_item = parseInt(item.rank);
	     this.showModal = true;
	 },
	 closeModal : function(){
	     this.showModal = false;
	     this.selected_rank = '0';
	 },
	 moveItem : function(){
	     axios({
		 method:'post',
		 url: this.infos.move_item_url,
		 data : getFormData({
		     list_id : this.infos.list_id,
		     item : this.current_item,
		     destination : this.selected_rank		     
		 }),
	     }
	     ).then(response => {
		 this.changePage(this.page)
	     }
	     ).catch(error => {
		 console.log(error);
	     });
	     this.closeModal()
	 },
	 addItem : function(event){
	     axios({
		 method:'post',
		 url: this.infos.edit_url,
		 data : getFormData({
		     list_id : this.infos.list_id,
		     mbid : event.mbid,
		     comment : '',
		 }),
	     }
	     ).then(response => {
		 this.changePage(this.page)
		 this.loadAllItems();
	     }
	     ).catch(error => {
		 console.log(error);
		 this.loadAllItems();
	     });
	 },
	 deleteList : function(){
	     var conf = confirm('Êtes vous sûr de vouloir supprimer cette liste ?');
	     if (conf){
		 axios({
		     method:'post',
		     url: this.infos.delete_list_url,
		     data : getFormData({
			 list_id : this.infos.list_id,
		     })
		 }
		 ).then(response => {
		     alert("Votre liste a bien été supprimée");
		     window.location.href = document.getElementById("deleteList").href;
		 }
		 ).catch(error => {
		     alert("Une erreur est survenue");
		     console.log(error);
		 });	 
	     }
	 }
	 
     },
     components : {
	 circlethumb,
	 'paginate' : VuejsPaginate,
	 editable,
	 modal,
	 addalbum,
	 vote,
     },
     watch : {
	 list : function(newVal){
	     if (newVal.length == 0 && this.page > 1 ){
		 this.changePage(this.page - 1);		 
	     }
	 },
     }
 })

</script>


{% endblock %}
