{% extends 'base.html' %}

{% block title %}

Résultats de votre recherche

{% endblock %}

{% block search_value %}

{{ query }}

{% endblock %}

{% block list_search_selected %}
selected
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-8 offset-md-2">

    <h1>Résultats de la recherche : {{ query }}</h1>
    
    {% if lists|length_is:"0" %}
    <div class="text-center">
	Aucun résultat n'a été trouvé
    </div>

    {% else %}

    

{% if paginate %}
<nav aria-label="...">
    <ul class="pagination">
	{% if lists.has_previous %}
        <li class="page-item"><a class="page-link sanguine" href="{{request.path}}?query={{query}}&type={{m_type}}&page={{lists.previous_page_number}}&tri={{tri}}">Précédent</a></li>
	{% else %}
	<li class="page-item disabled"><span class="page-link sanguine">Précédent</span></li>
	{% endif %}
	{% if lists.has_next %}
        <li><a class="page-link sanguine" href="{{request.path}}?query={{query}}&type={{m_type}}&page={{lists.next_page_number}}&tri={{tri}}">Suivant</a></li>
	{% else %}
	<li class="page-item disabled"><span class="page-link sanguine">Suivant</span></li>
	{% endif %}
    </ul>
</nav>
{% endif %}

<br>

<form class="form-inline" method="get" action="{{request.path}}">
    <label for="tri">Tri :   </label>
    <select class="custom-select" id="tri" name="tri">
	<option >par défaut</option>
	<option value="votes" {% if tri == "votes" %}selected{% endif %}>les plus notées </option>
	<option value="score" {% if tri == "score" %}selected{% endif %}>les plus appréciées</option>
    </select>

    <input id="query" name="query" type="hidden" value="{{query}}">
    <input id="m_type" name="type" type="hidden" value="{{m_type}}">
    <input id="page" name="page" type="hidden" value="1">

    <button type="submit" class="btn">Rechercher</button>
</form>

<br>

<table class="table">
    <tr>
	<th>Listes</th>
    </tr>
    {% for list in lists %}
    <tr>
	<td> <a href="{% url 'lists:display_list' list.id %}">{{ list.title }}</a> (liste de <a href="{% url 'profile' list.user.username %}"> {{ list.user  }}</a>) <span class="float-right"> <i class="fas fa-heart"></i> <span>{{ list.num_vote_up }}</span></span></td>
    </tr> 
    {% endfor %}
</table>

{{ list }}
<br>

{% endif %}

</div>

{% endblock %}
