{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}
{% load discussion %}

{% block title %}
Nouvelle discussion
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block body_title %}


{% endblock %}

{% block content %}

<div class="col-12">

    <div class="row" id="app">
	<div class="col-12 col-md-8 offset-md-2 bg-light border pt-2">

	    <h1 class="text-center">Nouvelle discussion</h1>

	    <p class="text-center">Choisissez un sujet</p>

	    <div class="row">

		<div class="col-12 col-md-8 offset-md-2">
		    <form>
			
			<div class="form-row">
			    <div class="form-group col-md-3 col-xl-2">
				{% get_discussion_content_types as types %}
				<select v-model="type" class="form-control">
				    <option disabled value="">Type</option>
				    {% for type in types %}
				    <option value="{{ type.model }}">{{ type }}</option>
				    {% endfor %}
				</select>
			    </div>
			    
			    <autocomplete
				class="form-group col-md-9 col-xl-10"
				ref="auto"
				url="{% url 'discussions:ajax_search_object' %}"
 				:model="type"
				@changeurl="url=$event;"
			    ></autocomplete>

			    
			    
			</div>
			
		    </form>
		</div>
	    </div>
	    
	    <br>
	</div>

	<div class="col-4 offset-4 col-md-2 offset-md-1 mb-3 mt-3">
	    <a title="{{ user.username }}" class="float-md-right" target="_blank" href="{% url 'profile' user.username %}"><span class="mx-auto company-header-avatar" style="background-image : url({{ user.account.get_avatar }}); width : 80px; height : 80px;"></span></a>
	</div>

	<div class="col-12 col-md-6 bg-light border pt-2 mt-3">

	    <form :action="url" method="post">

		{% csrf_token %}

		{{ discussion_form|as_bootstrap }}
		
		<input class="form-control" type="submit" value="Poster" />
		
	    </form>

	    <br>
	</div>

    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>

<script src="{% static 'discussions/js/autocomplete.js' %}"></script>

<script>

 var vm = new Vue({
     delimiters : ['[[', ']]'],
     el : '#app',
     components : {
	 'autocomplete' : autocomplete,
     },
     data : {
	 type : '',
	 url : '',
     },
 })
 

</script>

{% endblock %}
