{% extends 'base.html' %}

{% load staticfiles %}
{% load discussion %}
{% load core_tags %}

{% block title %}
Supprimer la discussion
{% endblock %}

{% block body_title %}
<div class="jumbotron jumbotron-fluid">

    <div class="container">
	<h3 class="text-center">
	    <a href="{{ discussion.content_object.get_absolute_url }}">{{ discussion.content_object }}</a> > <a href="#">Discussions</a> > <a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a>
	</h3>
    </div>
    
</div>
{% endblock %}

{% block content %}

<div class="col-12 col-md-6 offset-md-3 bg-light mt-3 mt-md-0">

    <div class="alert alert-secondary">
	<h1 class="text-center">
	    Vous êtes sur le point de supprimer cette discussion.
	    Êtes vous sur ?
	</h1>
	<p class="text-center">
	    <a class="btn btn-lg btn-danger" href="{% url 'discussions:delete_discussion' discussion.pk %}">Confirmer</a>
	    &nbsp; &nbsp; &nbsp; 
	    <a class="btn btn-lg btn-secondary" href="{{ discussion.get_absolute_url }}">Annuler</a></p>
    </div
    
    
    <h3>{{discussion.title}}</h3>    

    <p>
	{{ discussion.content|parse_links|linebreaks }}
    </p>

</div>
{% endblock %}
