{% extends 'base.html' %}
{% load activity_tags %}
{% load core_tags %}
{% load staticfiles %}

{% block body_title %}

<div class="jumbotron jumbotron-fluid color-teal">
    <div class="container">
	<h1 class="text-center display-4">Activité {% if feed_type == 'abonnements' %}de mes abonnements{% else %}sur le site{% endif %}</h1>
    </div>
</div>

{% endblock %}


{% block content %}

<div class="col-12 col-md-8 offset-md-2">
    
    <p class="text-center">
	<a href="{{request.path}}">Tous les membres</a> - <a href="?feed=abonnements">Suivis</a>
    </p>
    
    <ul class="list-group infinite-container">
	{% for action in feed %}
	<li class="list-group-item infinite-item bg-light">
	    {% display_action action %}
	</li>
	{% endfor %}
    </ul>

    {% if feed.has_next %}
    <a class="infinite-more-link" href="?feed={{feed_type}}&page={{ feed.next_page_number }}">Plus...</a>
    {% endif %}

    <div class="loading" style="display: none;">
	Chargement...
    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<script>
 var infinite_all = new Waypoint.Infinite({
     element: $('.infinite-container')[0],
     onBeforePageLoad: function () {
	 $('.loading').show();
     },
     onAfterPageLoad: function ($items) {
	 $('.loading').hide();
     }
 });
</script>

{% endblock %}
