{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% load activity_tags %}
{% load core_tags %}
{% load compress %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-vue.css' %}"/>
{% endblock %}

{% block bg %}
w3-light-gray
{% endblock %}

{% block body_title %}

{% endblock %}

{% block content %}

<div class="col-12">

    <div class="row">

	<div class="col-12 col-md-8 offset-md-2 bg-light">

	    <div class="alert alert-danger">
		Suite a un bug du serveur, des mails à répétition ont été envoyés à certains utilisateurs la nuit dernière. La Musithèque souhaite s'excuser pour ces désagréments et travaille pour que cela ne se reproduise plus.
	    </div>
	    
	    <h1 class="text-center">Dernières nouveautés</h1>

	    <br>

	    {% cache 500 new_albums %}
	    <div class="row">
		{% for album in albums %}

		{% if album.cover != "" %}

		<div class="col-4 col-sm-4 col-md-3 col-lg-2 regular-gutter item-user-rating" id="ID{{album.mbid}}">
		    <album_popover mbid="{{album.mbid}}"><a slot="preview" href="{% url 'albums:album' album.mbid %}" class="thumbnail"><img class="responsive" src="{% static 'images/loading.gif' %}" data_src="{{ album.get_cover }}" alt="{{ album.title }}" ref="popover"></a></album_popover>

		</div>
		
		
		{% endif %}
		
		{% endfor %}
	    </div>
	    {% endcache %}
	</div>

    </div>
    
</div>

<div class="col-12">

    <div class="row">

	<div class="col-sm-12 col-md-8 offset-md-2 bg-silver">

	    <div class="row pb-3">
		

		<div class="col-12 col-lg-6" id="app_bis" v-cloak>

		    <h2 class="text-center">Activité récente</h2>

		    <ul class="nav nav-tabs">
			<li class="nav-item">
			    <a class="nav-link" :class="{ 'active' : (currentViewActivity === 'all') }" href="#" @click.prevent="currentViewActivity = 'all'">Tout</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" :class="{ 'active' : (currentViewActivity === 'followees') }" href="#" @click.prevent="currentViewActivity = 'followees'">Mes abonnements</a>
			</li>
		    </ul>


		    <div v-show="currentViewActivity == 'all'">
			{% if all_feed %}	    
			<ul class="list-group">
			    
			    {% for action in all_feed %}
			    <li class="list-group-item">
				{% display_action action %}
			    </li>
			    {% endfor %}
			    
			</ul>
			<p class="text-right"> <a href="{% url 'live' %}">Voir l'historique</a>
			</p>
			{% else %}
			<p class="text-center"> Aucune activité. </p>
			{% endif %}
			
		    </div>

		    <div v-show="currentViewActivity == 'followees'">

			{% if user_feed %}	    
			<ul class="list-group">

			    {% for action in user_feed %}
			    <li class="list-group-item">
				{% display_action action %}
			    </li>
			    {% endfor %}
			    
			</ul>
			<p class="text-right"><a href="{% url 'live' %}?feed=abonnements">Voir l'historique</a></p>
			{% else %}
			<p class="text-center"> Aucune activité de vos abonnements. </p>
			{% endif %}

		    </div>

		</div>

		<div class="col-sm-12 col-lg-6" id="app" v-cloak>

		    <h2 class="text-center">Dernières critiques</h2>

		    <ul class="nav nav-tabs">
			<li class="nav-item">
			    <a class="nav-link" :class="{ 'active' : (currentView === 'all_reviews') }" href="#" @click.prevent="currentView = 'all_reviews'">Toutes</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" :class="{ 'active' : (currentView === 'followees_reviews') }" href="#" @click.prevent="currentView = 'followees_reviews'">Mes abonnements</a>
			</li>
		    </ul>

		    <div v-show="currentView === 'all_reviews'" v-cloak>

			<ul class="list-group">

			    {% for review in reviews %}
			    {% if review.reviews|length == 1 %}
			    {% with album=review.reviews.0.rating.rating.content_object rev=review.reviews.0 %}
			    <li class="list-group-item">
				<div class="d-flex">
				    <div style="min-width:70px">
					<div style="width:50px; height:50px; background-image: url({{ review.account.get_avatar }}); background-size:cover; background-position : center;"></div></div>
					<div class="flex-grow-1">
					    <a href="{% url 'albums:review' album.mbid rev.id %}">
						{{ rev.title }}
					    </a> par
					    <a href="{% url 'profile' review.user.username %}">
						{{review.user}}
					    </a>
					    sur l'album
					    <album_popover style="display:inline" class="mt-0" mbid="{{album.mbid}}">mbid : {{album.mbid}}
						<a slot="preview" href="{% url 'albums:album' album.mbid %}">
						    {{album.title}}
						</a>
					    </album_popover>
					</div>
				</div>
			    </li>
			    {% endwith %}
			    {% else %}
			    <li class="list-group-item" v-b-toggle="'rev-{{review.user}}'">
				<div class="d-flex">
				    <div style="min-width:70px">
					<div style="width:50px; height:50px; background-image: url({{ review.account.get_avatar }}); background-size:cover; background-position : center;"></div></div>
					<div class="flex-grow-1">
					    <a @click.stop href="{% url 'profile' review.user.username %}">{{review.user}}</a> a critiqué {% if review.reviews|length >= 15 %}plus de {% endif %}{{review.reviews|length}} albums.
					    <a href="#" @click.prevent><span class="menu-ico-collapse"><i class="fa fa-chevron-down"></i></span></a>
					</div>
				</div>
			    </li>
			    <b-collapse id="rev-{{review.user}}">
				{% for rev in review.reviews %}
				{% with album=rev.rating.rating.content_object %}
				<li class="list-group-item sub-item">

				    <div class="d-flex">
					<div style="min-width:30px">
					</div>
					<div style="min-width:50px">
					    <div style=" width:30px; height:30px; background-image: url({{ review.account.get_avatar }}); background-size:cover; background-position : center;"></div>
					</div>
					<div class="flex-grow-1">

					    <a href="{% url 'albums:review' album.mbid rev.id %}">
						{{ rev.title }}
					    </a> 
					    à propos de l'album
					    <album_popover style="display:inline" class="mt-0" mbid="{{album.mbid}}">mbid : {{album.mbid}}
						<a slot="preview" href="{% url 'albums:album' album.mbid %}">
						    {{album.title}}
						</a>
					    </album_popover>
					</div>
				    </div>
				    
				</li>
				{% endwith %}
				{% endfor %}
			    </b-collapse>
			    
			    
			    {% endif %}
			    {% endfor %}
			</ul>


			<p class="text-right"><a href="{% url 'reviews:latest_reviews' %}">Voir plus</a></p>

		    </div>

		    <keep-alive>
			<component :is="currentView" v-bind="currentProperties"></component>
		    </keep-alive>




		    <h2 class="text-center">Dernières notes</h2>


		    <ul class="nav nav-tabs">
			<li class="nav-item">
			    <a class="nav-link" :class="{ 'active' : (currentViewRating === 'all_ratings') }" href="#" @click.prevent="currentViewRating = 'all_ratings'">Toutes</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" :class="{ 'active' : (currentViewRating === 'followees_ratings') }" href="#" @click.prevent="currentViewRating = 'followees_ratings'">Mes abonnements</a>
			</li>
		    </ul>

		    
		    <div v-show="currentViewRating === 'all_ratings'" v-cloak>

			<ul class="list-group">

			    {% for rating in ratings %}
			    {% if rating.ratings|length <= 1 %}
			    {% with album=rating.ratings.0.rating.content_object rating_=rating.ratings.0 %}
			    <li class="list-group-item">
				<div class="d-flex">
				    <div style="min-width:70px">
					<div style="width:50px; height:50px; background-image: url({{ rating.account.get_avatar }}); background-size:cover; background-position : center;"></div>
				    </div>
				    <div class="flex-grow-1">
					<a href="{% url 'profile' rating.user.username %}">{{rating.user}}</a> à donné la note de <strong>{{rating_.score}}</strong> à l'album <album_popover style="display:inline" class="mt-0" mbid="{{album.mbid}}"><a slot="preview" href="{% url 'albums:album' album.mbid %}">{{album.title}}</a></album_popover>
				    </div>

				</div>
				
			    </li>
			    {% endwith %}
			    {% else %}

			    <li class="list-group-item" v-b-toggle="'rat-{{rating.user}}'">
				<div class="d-flex">
				    <div style="min-width:70px">
					<div style="width:50px; height:50px; background-image: url({{ rating.account.get_avatar }}); background-size:cover; background-position : center;"></div></div>
					<div class="flex-grow-1">
					    <a @click.stop href="{% url 'profile' rating.user.username %}">{{rating.user}}</a> a noté {% if rating.ratings|length >= 15 %}plus de {% endif %}{{rating.ratings|length}} albums.
					    <a href="#" @click.prevent><span class="menu-ico-collapse"><i class="fa fa-chevron-down"></i></span></a>
					</div>
				</div>
			    </li>
			    <b-collapse id="rat-{{rating.user}}">
				{% for rat in rating.ratings %}
				{% with album=rat.rating.content_object %}
				<li class="list-group-item sub-item">

				    <div class="d-flex">
					<div style="min-width:30px">
					</div>
					<div style="min-width:50px">
					    <div style=" width:30px; height:30px; background-image: url({{ rating.account.get_avatar }}); background-size:cover; background-position : center;"></div>
					</div>
					<div class="flex-grow-1">
					    <a href="{% url 'profile' rating.user.username %}">{{rating.user}}</a> à donné la note de <strong>{{rat.score}}</strong> à l'album <album_popover style="display:inline" class="mt-0" mbid="{{album.mbid}}"><a slot="preview" href="{% url 'albums:album' album.mbid %}">{{album.title}}</a></album_popover>
					</div>
				    </div>
				    
				</li>
				{% endwith %}
				{% endfor %}
			    </b-collapse>
			    
			    {% endif %}
			    {% endfor %}
			</ul>

		    </div>

		    <keep-alive>
			<component :is="currentViewRating" v-bind="currentPropertiesRating"></component>
		    </keep-alive>

		</div>



		
	    </div>
	    
	    
	</div>

    </div>
</div>



{% endblock content %}

{% block scripts %}

<script>
 var album_update_cover_url = "{% url 'albums:update_cover' %}"
 var default_album_cover = "{% static 'albums/images/default_cover.png' %}"
 var home_followees_reviews_url = "{% url 'home_followees_reviews' %}"
 var home_followees_ratings_url = "{% url 'home_followees_ratings' %}"
 var album_data_url = "{% url 'albums:album_data' %}"
</script>

<script src="{% static 'js/polyfill.min.js' %}"></script>
<script src="{% static 'js/bootstrap-vue.min.js' %}"></script>

{% include_popover_scripts %}

<script src="{% static 'core/js/followees_ratings.js' %}"></script>

<script src="{% static 'js/last_ratings_vue.js' %}"></script>

<script src="{% static 'js/feed_vue.js' %}"></script>

<script>
 var albums_ratings = document.getElementsByClassName('item-user-rating')

 Array.prototype.forEach.call(albums_ratings, function(el) {
     var mbid = el.id;
     new Vue({
	 el : '#' + mbid,
	 delimiters : ['[[', ']]'],
	 components : {
	     album_popover,
	 },
	 mounted : function(){
	     this.$refs.popover.onerror = function(e){
		 e.preventDefault();
		 this.src = default_album_cover

		 axios({
		     method : 'post',
		     url : album_update_cover_url,
		     data : getFormData({
			 mbid : mbid.replace('ID', '')
		     })
		 }).then(response => {
		     
		 }).catch(error => {
		     console.log(error);
		 })
		 
	     }
	     this.$refs.popover.src = this.$refs.popover.getAttribute('data_src');
	 }
     });
 });

 
</script>

{% endblock %}
