{% extends 'base.html' %}

{% load staticfiles %}
{% load cache %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
{% endblock %}

{% block body_title %}
{% if not user.is_authenticated %}
<div class="jumbotron jumbotron-fluid" style="background-image : url({% static 'images/home-vinyl.jpg' %}); background-size : cover;">
    <div class="container">
	<h1 class="display-4 text-center" style="color : white">Rejoignez des passionnés de musique.</h1>
	<p class="lead text-center" style="color : white">Découvrez, notez, critiquez.</p>
	<p class="lead text-center"><a href="{% url 'register' %}" class="btn btn-lg btn-light">Inscrivez-vous</a></p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-8 offset-md-2">    
    
    <h1 class="text-center">Nouveautés</h1>

    {% cache 3600 new_albums user.is_authenticated %}
    <div class="row">
	{% for album in albums %}

	{% if album.cover != "" %}

	{% if user.is_authenticated %}
	<div class="col-4 col-sm-4 col-md-3 col-lg-2 regular-gutter item-user-rating" id="ID{{album.mbid}}">
	    <album_popover mbid="{{album.mbid}}"><a slot="preview" href="{% url 'albums:album' album.mbid %}" class="thumbnail"><img class="responsive" src="{% static 'images/loading.gif' %}" data_src="{{ album.get_cover }}" ref="popover"></a></album_popover>

	</div>
	{% else %}
	<div class="col-4 col-sm-4 col-md-3 col-lg-2 regular-gutter">
	    <a title="{{album.title}}" href="{% url 'albums:album' album.mbid %}" class="thumbnail"><img class="responsive" src="{% static 'images/loading.gif' %}" data-src="{{ album.get_cover }}"></a>
	</div>
	{% endif %}    
	
	{% endif %}
	
	{% endfor %}
    </div>
    {% endcache %}
</div>

<div class="col-sm-12 col-md-8 offset-md-2">

    <div class="row" id="app">

	<div class="col-sm-12 col-lg-6">

	    <h2>Dernières critiques</h2>

	    {% if user.is_authenticated %}

	    <ul class="nav nav-tabs">
		<li class="nav-item">
		    <a class="nav-link" :class="{ 'active' : (currentView === 'all_reviews') }" href="#" @click.prevent="currentView = 'all_reviews'">Toutes</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" :class="{ 'active' : (currentView === 'followees_reviews') }" href="#" @click.prevent="currentView = 'followees_reviews'">Mes abonnements</a>
		</li>
	    </ul>

	    {% endif %}
	    
	    {% if user.is_authenticated %}
	    <div v-show="currentView === 'all_reviews'" v-cloak>
		{% endif %}

		{% cache 60 new_reviews user.is_authenticated %}
		<ul class="list-group">

		    {% for review in reviews %}
		    {% if review.reviews|length == 1 %}
		    {% with album=review.reviews.0.rating.rating.content_object rev=review.reviews.0 %}
		    <li class="list-group-item">
			<div class="d-flex">
			    <div style="min-width:70px">
				<div style="width:50px; height:50px; background-image: url({{ review.account.get_avatar }}); background-size:cover; background-position : center;"></div></div>
				<div class="flex-grow-1">
				    <a href="{% url 'albums:review' album.mbid rev.id %}">
					{{ rev.title }}
				    </a> par
				    <a href="{% url 'profile' review.user.username %}">
					{{review.user}}
				    </a>
				    sur l'album
				    {% if user.is_authenticated %}
				    <album_popover style="display:inline" class="mt-0" mbid="{{album.mbid}}">mbid : {{album.mbid}}
					<a slot="preview" href="{% url 'albums:album' album.mbid %}">
					    {{album.title}}
					</a>
				    </album_popover>
				    {% else %}
				    <a slot="preview" href="{% url 'albums:album' album.mbid %}">
					{{album.title}}
				    </a>
				    {% endif %}
				</div>
			</div>
		    </li>
		    {% endwith %}
		    {% else %}
		    <li class="list-group-item" v-b-toggle="'rev-{{review.user}}'">
			<div class="d-flex">
			    <div style="min-width:70px">
				<div style="width:50px; height:50px; background-image: url({{ review.account.get_avatar }}); background-size:cover; background-position : center;"></div></div>
				<div class="flex-grow-1">
				    <a @click.stop href="{% url 'profile' review.user.username %}">{{review.user}}</a> a critiqué {% if review.reviews|length >= 15 %}plus de {% endif %}{{review.reviews|length}} albums.
				    <a href="#" @click.prevent><span class="menu-ico-collapse"><i class="fa fa-chevron-down"></i></span></a>
				</div>
			</div>
		    </li>
		    <b-collapse id="rev-{{review.user}}">
			{% for rev in review.reviews %}
			{% with album=rev.rating.rating.content_object %}
			<li class="list-group-item sub-item">

			    <div class="d-flex">
				<div style="min-width:30px">
				</div>
				<div style="min-width:50px">
				    <div style=" width:30px; height:30px; background-image: url({{ review.account.get_avatar }}); background-size:cover; background-position : center;"></div>
				</div>
				<div class="flex-grow-1">

					<a href="{% url 'albums:review' album.mbid rev.id %}">
					    {{ rev.title }}
					</a> 
					à propos de l'album
					{% if user.is_authenticated %}
					<album_popover style="display:inline" class="mt-0" mbid="{{album.mbid}}">mbid : {{album.mbid}}
					    <a slot="preview" href="{% url 'albums:album' album.mbid %}">
						{{album.title}}
					    </a>
					</album_popover>
					{% else %}
					<a slot="preview" href="{% url 'albums:album' album.mbid %}">
					    {{album.title}}
					</a>
					{% endif %}
				    </div>
			    </div>
			    
			</li>
			{% endwith %}
			{% endfor %}
		    </b-collapse>
		    
		    
		    {% endif %}
		    {% endfor %}
		</ul>
		{% endcache %}


		<p class="text-right"><a href="{% url 'reviews:latest_reviews' %}">Voir plus</a></p>

		{% if user.is_authenticated %}
	    </div>
	    {% endif %}

	    {% if user.is_authenticated %}
	    <keep-alive>
		<component :is="currentView" v-bind="currentProperties"></component>
	    </keep-alive>
	    {% endif %}
	    
	</div>

	<div class="col-sm-12 col-lg-6">

	    <h2>Dernières notes</h2>

	    {% if user.is_authenticated %}

	    <ul class="nav nav-tabs">
		<li class="nav-item">
		    <a class="nav-link" :class="{ 'active' : (currentViewRating === 'all_ratings') }" href="#" @click.prevent="currentViewRating = 'all_ratings'">Toutes</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" :class="{ 'active' : (currentViewRating === 'followees_ratings') }" href="#" @click.prevent="currentViewRating = 'followees_ratings'">Mes abonnements</a>
		</li>
	    </ul>

	    {% endif %}
	    
	    {% if user.is_authenticated %}
	    <div v-show="currentViewRating === 'all_ratings'" v-cloak>
		{% endif %}

		{% cache 5 new_ratings user.is_authenticated %}

		<ul class="list-group">

		    {% for rating in ratings %}
		    {% if rating.ratings|length <= 1 %}
		    {% with album=rating.ratings.0.rating.content_object rating_=rating.ratings.0 %}
		    <li class="list-group-item">
			<div class="d-flex">
			    <div style="min-width:70px">
				<div style="width:50px; height:50px; background-image: url({{ rating.account.get_avatar }}); background-size:cover; background-position : center;"></div>
			    </div>
			    <div class="flex-grow-1">
				<a href="{% url 'profile' rating.user.username %}">{{rating.user}}</a> à donné la note de <strong>{{rating_.score}}</strong> à l'album {% if user.is_authenticated %}<album_popover style="display:inline" class="mt-0" mbid="{{album.mbid}}"><a slot="preview" href="{% url 'albums:album' album.mbid %}">{{album.title}}</a></album_popover>{% else %}<a href="{% url 'albums:album' album.mbid %}">{{album.title}}</a>{% endif %}
			    </div>

			</div>
			
		    </li>
		    {% endwith %}
		    {% else %}

		    <li class="list-group-item" v-b-toggle="'rat-{{rating.user}}'">
			<div class="d-flex">
			    <div style="min-width:70px">
				<div style="width:50px; height:50px; background-image: url({{ rating.account.get_avatar }}); background-size:cover; background-position : center;"></div></div>
				<div class="flex-grow-1">
				    <a @click.stop href="{% url 'profile' rating.user.username %}">{{rating.user}}</a> a noté {% if rating.ratings|length >= 15 %}plus de {% endif %}{{rating.ratings|length}} albums.
				    <a href="#" @click.prevent><span class="menu-ico-collapse"><i class="fa fa-chevron-down"></i></span></a>
				</div>
			</div>
		    </li>
		    <b-collapse id="rat-{{rating.user}}">
			{% for rat in rating.ratings %}
			{% with album=rat.rating.content_object %}
			<li class="list-group-item sub-item">

			    <div class="d-flex">
				<div style="min-width:30px">
				</div>
				<div style="min-width:50px">
				    <div style=" width:30px; height:30px; background-image: url({{ rating.account.get_avatar }}); background-size:cover; background-position : center;"></div>
				</div>
				<div class="flex-grow-1">
				    <a href="{% url 'profile' rating.user.username %}">{{rating.user}}</a> à donné la note de <strong>{{rat.score}}</strong> à l'album {% if user.is_authenticated %}<album_popover style="display:inline" class="mt-0" mbid="{{album.mbid}}"><a slot="preview" href="{% url 'albums:album' album.mbid %}">{{album.title}}</a></album_popover>{% else %}<a href="{% url 'albums:album' album.mbid %}">{{album.title}}</a>{% endif %}
				</div>
			    </div>
			    
			</li>
			{% endwith %}
			{% endfor %}
		    </b-collapse>
		    
		    {% endif %}
		    {% endfor %}
		</ul>

		{% endcache %}

		{% if user.is_authenticated %}
	    </div>
	    {% endif %}

	    {% if user.is_authenticated %}
	    <keep-alive>
		<component :is="currentViewRating" v-bind="currentPropertiesRating"></component>
	    </keep-alive>
	    {% endif %}
	    
	</div>
	
    </div>
    
</div>


{% endblock content %}

{% block scripts %}

{% if user.is_authenticated %}

<script> 
 var album_data_url = "{% url 'albums:album_data' %}"
</script>

<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>

<script src="{% static 'js/polyfill.min.js' %}"></script>
<script src="{% static 'js/bootstrap-vue.min.js' %}"></script>

<!-- Editor dependency-->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Editor itself -->
<script src="{% static 'trumbowyg/trumbowyg/dist/trumbowyg.min.js' %}"></script>

<script src="https://unpkg.com/vue-trumbowyg@3"></script>
<script src="{% static 'trumbowyg/trumbowyg/dist/langs/fr.min.js' %}"></script>


<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'ratings/js/reviewTab.js' %}"></script>
<script src="{% static 'lists/js/listsTab.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'ratings/js/reviewModal.js' %}"></script>

<script src="{% static 'star-ratings/js/star-rating-popover.min.js' %}"></script>
<script src="{% static 'js/popover.js' %}"></script>
<script src="{% static 'albums/js/album_popover.js' %}"></script>


<script>

 var followees_ratings = {
     delimiters : ['[[', ']]'],
     props : {
	 'url' : String,
     },
     data : function(){
	 return {
	     users : [],
	     loading : true,
	 }
     },
     components : {
	 album_popover,
     },
     template : `
	 <div v-cloak>
	     <div v-show='!loading'>
		 <template v-if='users.length > 0'>

		     <ul class="list-group">
			 <template v-for='user in users'>
			     
			     <li class='list-group-item' v-if='user.ratings.length == 1'>
				 
				 <div class="d-flex">
				     <div style="min-width:70px">
					 <div :style="{ 'width' : '50px' , 'height' : '50px' , 'background-image': 'url(' + user.avatar  + ')', 'background-size' : 'cover', 'background-position' : 'center'}"></div></div>
					     <div class="flex-grow-1">
						 <a :href="user.profile_url">
						     [[ user.username ]]
						 </a> 
						     a donné la note de 
						     <strong>[[ user.ratings[0].score ]]</strong>
							 à l'album
							 <album_popover style="display:inline" class="mt-0" :mbid="user.ratings[0].mbid">
							     <a slot="preview" :href="user.ratings[0].album_url">
								 [[ user.ratings[0].title ]]
							     </a>
							 </album_popover>
					     </div>
				 </div>				     
			     </li>
								 
								 <template v-else>
								     <li class='list-group-item' v-b-toggle="'rat-' + user.username">
									 
				    					 <div class="d-flex">
									     <div style="min-width:70px">
										 <div :style="{ 'width' : '50px', 'height' : '50px', 'background-image' :  'url(' + user.avatar + ')',  'background-size' : 'cover', 'background-position' : 'center'}"></div></div>
										     <div class="flex-grow-1">
											 <a @click.stop :href="user.profile_url">[[user.username]]</a> a noté [[ display(user.ratings.length) ]] albums.
											     <a href="#" @click.prevent><span class="menu-ico-collapse"><i class="fa fa-chevron-down"></i></span></a>
										     </div>
									 </div>
												 
								     </li>
												 <b-collapse :id="'rat-' + user.username">
												     <li class="list-group-item sub-item" v-for='rating in user.ratings'>
													 <div class="d-flex">
													     <div style="min-width:30px">
													     </div>
														 <div style="min-width:50px">
														     <div :style="{ 'width' : '30px',  'height' : '30px',  'background-image' : 'url(' + user.avatar + ')',  'background-size' : 'cover' , 'background-position' : 'center'}"></div>
														 </div>
															 <div class="flex-grow-1">
															     <a :href="user.profile_url">
																 [[ user.username ]]
															     </a> 
																 a donné la note de <strong>[[ rating.score ]]</strong>	
																     à l'album
																     <album_popover style="display:inline" class="mt-0" :mbid="rating.mbid">
																	 <a slot="preview" :href="rating.album_url">
																	     [[ rating.title ]]
																	 </a>
																     </album_popover>
															 </div>
													 </div>				 
												     </li>
												 </b-collapse>
																	     
																	     
								 </template>
																	     
																	     
																	     
																	     
																	     
			 </template>
																	     
		     </ul>
																	     
		 </template>
																	     <template v-else>
																		 Aucun résultat trouvé
																	     </template>
																		 
	     </div>
																		 <div v-show="loading"><br><br><div class="spinner" style="position:relative"></div>
																		 </div>
	 </div>
     `,
     mounted : function(){
	 this.loading = true;
	 axios.get(this.url 
	 ).then(response => {
	     this.users = response.data.users;
	     this.loading = false;
	 }
	 ).catch(error => {
	     console.log(error)
	     this.loading = false;
	 })
     },
     methods : {
	 display : function(nb){
	     if (nb < 15){
		 return nb
	     }
	     else{
		 return 'plus de ' + nb
	     }
	     
	 }
     }
 }
 
 var followees_reviews = {
     delimiters : ['[[', ']]'],
     props : {
	 'url' : String,
     },
     data : function(){
	 return {
	     users : [],
	     loading : true,
	 }
     },
     methods : {
	 display : function(nb){
	     if (nb < 15){
		 return nb
	     }
	     else{
		 return 'plus de ' + nb
	     }
	     
	 }
     },
     components : {
	 album_popover,
     },
     template : `
	 <div v-cloak>
	     <div v-show='!loading'>
		 <template v-if='users.length > 0'>

		     <ul class="list-group">
			 <template v-for='user in users'>
			     
			     <li class='list-group-item' v-if='user.reviews.length == 1'>
				 
				 <div class="d-flex">
				     <div style="min-width:70px">
					 <div :style="{ 'width' : '50px' , 'height' : '50px' , 'background-image': 'url(' + user.avatar  + ')', 'background-size' : 'cover', 'background-position' : 'center'}"></div></div>
					     <div class="flex-grow-1">
						 <a :href="user.reviews[0].review_url">
						     [[ user.reviews[0].review_title ]]
						 </a> par
						     <a :href="user.profile_url">
							 [[ user.username ]]
						     </a>
							 sur l'album
							 <album_popover style="display:inline" class="mt-0" :mbid="user.reviews[0].mbid">
							     <a slot="preview" :href="user.reviews[0].album_url">
								 [[ user.reviews[0].title ]]
							     </a>
							 </album_popover> ([[user.reviews[0].score]]/10)
					     </div>
				 </div>				     
			     </li>
								 
								 <template v-else>
								     <li class='list-group-item' v-b-toggle="'rev-' + user.username">
									 
				    					 <div class="d-flex">
									     <div style="min-width:70px">
										 <div :style="{ 'width' : '50px' , 'height' : '50px' , 'background-image' :  'url(' + user.avatar + ')',  'background-size' : 'cover', 'background-position' : 'center'}"></div></div>
										     <div class="flex-grow-1">
											 <a @click.stop :href="user.profile_url">[[user.username]]</a> a critiqué [[ display(user.reviews.length) ]] albums.
											     <a href="#" @click.prevent><span class="menu-ico-collapse"><i class="fa fa-chevron-down"></i></span></a>
										     </div>
									 </div>
												 
								     </li>
												 <b-collapse :id="'rev-' + user.username">
												     <li class="list-group-item sub-item" v-for='review in user.reviews'>
													 <div class="d-flex">
													     <div style="min-width:30px">
													     </div>
														 <div style="min-width:50px">
														     <div :style="{ 'width' : '30px',  'height' : '30px',  'background-image' : 'url(' + user.avatar + ')',  'background-size' : 'cover' , 'background-position' : 'center'}"></div>
														 </div>
															 <div class="flex-grow-1">
															     <a :href="review.review_url">
																 [[ review.review_title ]]
															     </a> 
																 à propos de l'album
																 <album_popover style="display:inline" class="mt-0" :mbid="review.mbid">
																     <a slot="preview" :href="review.album_url">
																	 [[ review.title ]]
																     </a>
																 </album_popover> ([[review.score]]/10)
															 </div>
													 </div>				 
												     </li>
												 </b-collapse>
																	 
																	 
								 </template>
																	 
																	 
																	 
																	 
																	 
			 </template>
																	 
		     </ul>
																	 
		 </template>
																	 <template v-else>
																	     Aucun résultat trouvé
																	 </template>
																	     
	     </div>
																	     <div v-show="loading"><br><br><div class="spinner" style="position:relative"></div>
																	     </div>
	 </div>
     `,
     mounted : function(){
	 this.loading = true;
	 axios.get(this.url 
	 ).then(response => {
	     this.users = response.data.users;
	     this.loading = false;
	 }
	 ).catch(error => {
	     console.log(error);
	     this.loading = false;
	 })
     }
 }
 
 var vm = new Vue({
     delimiters : ['[[', ']]'],
     el : '#app',
     data : {
	 currentView : 'all_reviews',
	 currentViewRating : 'all_ratings',
     },
     components : {
	 followees_ratings,
	 followees_reviews,
	 album_popover,
     },
     computed : {
	 currentProperties : function(){
	     if (this.currentView === 'followees_reviews'){
		 return {
		     url : "{% url 'home_followees_reviews' %}",
		 }
	     }
	 },
	 currentPropertiesRating : function(){
	     if (this.currentViewRating === 'followees_ratings'){
		 return {
		     url : "{% url 'home_followees_ratings' %}",
		 }
	     }
	 }
     }
 })
 
</script>

<script>

 axios.defaults.xsrfHeaderName = "X-CSRFToken"; 

 var albums_ratings = document.getElementsByClassName('item-user-rating')

 Array.prototype.forEach.call(albums_ratings, function(el) {
     var mbid = el.id;
     new Vue({
	 el : '#' + mbid,
	 delimiters : ['[[', ']]'],
	 components : {
	     album_popover,
	 },
	 mounted : function(){
	     this.$refs.popover.src = this.$refs.popover.getAttribute('data_src');
	 }
     });
 });

</script>

{% else %}

<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/polyfill.min.js' %}"></script>
<script src="{% static 'js/bootstrap-vue.min.js' %}"></script>


<script>

 var vm = new Vue({
     delimiters : ['[[', ']]'],
     el : '#app',
 })
 
</script>


{% endif %}

{% endblock %}
