<ul class="list-group">
    {% for rating in ratings %}
    <li class="list-group-item">
	<a href="{% url 'albums:album' rating.rating.albums.get.mbid %}"><img title="{{rating.rating.albums.get.title}}" src="{{ rating.rating.albums.get.get_cover }}" style="height : 50px"></a> &nbsp <a href="{% url 'profile' rating.user.username %}">{{rating.user}}</a> à donné la note de <strong>{{rating.score}}</strong> à l'album <a href="{% url 'albums:album' rating.rating.albums.get.mbid %}">{{rating.rating.albums.get.title}}</a>
	
    </li>	    
    {% endfor %}
</ul>
