{% if reviews %}
<ul class="list-group">
    {% for review in reviews %}
    <li class="list-group-item">
	<a href="{% url 'albums:album' review.rating.rating.albums.get.mbid %}"><img title="{{review.rating.rating.albums.get.title}}" src="{{ review.rating.rating.albums.get.get_cover }}" style="height : 50px"></a> &nbsp <a href="{% url 'albums:review' review.rating.rating.albums.get.mbid review.id %}">{{ review.title }}</a> par <a href="{% url 'profile' review.rating.user.username %}">{{review.rating.user}}</a> sur l'album <a href="{% url 'albums:album' review.rating.rating.albums.get.mbid %}">{{review.rating.rating.albums.get.title}}</a> ({{review.rating.score}}/10)	
    </li>	    
    {% endfor %}
</ul>
{% else %}
Aucun résultat trouvé.
{% endif %}
