{% if allow_feedback %}
<span class="small">
    {% if show_feedback %}
    {% with username=user.username usernamebr=user.username|add:'<br/>' %}
    <a class="nblikes" data-toggle="tooltip" title="{{ item.likedit_users|join:'<br/>'|cut:usernamebr|cut:username }}"><span class="small">{% if item.likedit_users %}{{ item.likedit_users|length }}{% endif %}</span></a>
    {% endwith %}
    {% endif %}

    <a id="like{{item.comment.pk}}" href="{% url 'login' %}?next={{request.path}}" _href="{% url 'comments-xtd-like' item.comment.pk %}" class="like-btn {% if not item.likedit %}text-muted{% else %}text-primary{% endif %}"><span class="small fas fa-thumbs-up"></span></a>
    <span class="text-muted">|</span>

    {% if show_feedback %}
    {% with username=user.username usernamebr=user.username|add:'<br/>' %}
    <a class="nbdislikes" data-toggle="tooltip" title="{{ item.dislikedit_users|join:'<br/>'|cut:usernamebr|cut:username }}"><span class="small">{% if item.dislikedit_users %}{{ item.dislikedit_users|length }}{% endif %}</span></a>
    {% endwith %}
    {% endif %}
    
    <a id="dislike{{item.comment.pk}}" href="{% url 'login' %}?next={{request.path}}" _href="{% url 'comments-xtd-dislike' item.comment.pk %}" class="dislike-btn {% if not item.dislikedit %}text-muted{% else %}text-primary{% endif %}"><span class="small fas fa-thumbs-down"></span></a>
</span>
{% endif %}
