{% load staticfiles %}

<script src="{% static 'trumbowyg/trumbowyg/dist/trumbowyg.min.js' %}"></script>

<script src="https://unpkg.com/vue-trumbowyg@3"></script>

<script src="{% static 'trumbowyg/trumbowyg/dist/langs/fr.min.js' %}"></script>
<script src="{% static 'ratings/js/reviewTab.js' %}"></script>
<script src="{% static 'lists/js/listsTab.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'ratings/js/reviewModal.js' %}"></script>
<script src="{% static 'star-ratings/js/star-rating-popover.min.js' %}"></script>
<script src="{% static 'albums/js/toggleUserInterest.js' %}"></script>
<script src="{% static 'js/popover.js' %}"></script>
<script src="{% static 'albums/js/album_popover.js' %}"></script>
